<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>Imam Sidyot | Service Details</title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/salam_logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->

  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">
    <i class="fa-solid fa-bars-staggered" id="menu-btn"></i>
    <a class="logo" href="/">
      <%= image_tag("salam_logo.png", alt: "logo") %>
      <div class="logo-name">
        <h3>Imam Sidyot</h3>
        <p>Empowering Excellence</p>
      </div>
    </a>
    <nav class="navbar">
      <%= link_to 'home', root_path %>
      <%= link_to 'about', about_us_url %>
      <a href="#services">services</a>
      <a href="#events">event</a>
      <%= link_to 'gallery', galleries_path %>
    </nav>
    <a class="btn" href="#contact">contact us</a>
  </header>
  <!-- ==================== Header Area (End) ==================== -->

  <!-- ==================== Event Details Area (Start) ==================== -->
  <section class="services" id="services">
    <div class="start-heading">
      <h1><%= @service&.name %></h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>

    <div class="image thumb-image-service">
      <%= @service&.logo&.attached? ? image_tag(@service&.logo) : image_tag("Home-1.png", alt: "logo") %>
    </div>

    <div class='detail descriptionp'>
      <p><%= @service&.description.html_safe %></p>
    </div>

        <div class="heading">
      <h1><%= @service.name %> Form</h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>
    <div class="feedback-container">   
      <%= form_with(model: @feedback, url: feedbacks_path, html: { class: 'form contact-form' }) do |form| %>
        <div class="mb-1">
          <%#= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'box form-control', placeholder: 'Name' %>
        </div>

        <div class="mb-1">
          <%#= form.label :email, class: 'form-label' %>
          <%= form.text_field :email, class: 'box form-control', placeholder: 'Email' %>
        </div>

        <div class="mb-1">
          <%#= form.label :subject, class: 'form-label' %>
          <%= form.text_field :subject, class: 'box form-control', placeholder: 'Subject' %>
        </div>

        <div class="mb-1">
          <%#= form.label :subject, class: 'form-label' %>
          <%= form.select :imam_name, ['Option 1', 'Option 2', 'Option 3'], {}, { class: 'box form-control' } %>
        </div>

        <div class="mb-1">
          <%#= form.label :message, class: 'form-label' %>
          <%= form.text_area :message, class: 'box form-control', placeholder: 'Message', rows: 3 %>
        </div>

        <%= form.hidden_field :service_id, value: @service.id %>

        <%= form.submit 'Submit Response', class: 'btn btn-primary' %>
      <% end %>
    </div>







  </section>

  
  <!-- ==================== Event Details Area (End) ==================== -->
<%= render partial: 'shared/footer' %>
   <!-- JQuery -->
<%= javascript_include_tag 'jquery-3.6.0' %>
<%= javascript_include_tag 'tinymce' %>
  <!-- SWIPER JS -->
<%= javascript_include_tag 'swiper.js' %>
<%= javascript_include_tag 'home-slider.js' %>
<%= javascript_include_tag 'script.js' %>
<%= javascript_include_tag 'scroll-spy.js' %>
  <!-- Animation -->
<%= javascript_include_tag 'aos.js' %>
<script>
  AOS.init({
      delay: 400,
      duration: 1000
  })
</script>

</body>
</html>
