<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>Imam Sidyot | Service Details</title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/salam_logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->

  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">
    <i class="fa-solid fa-bars-staggered" id="menu-btn"></i>
    <a class="logo" href="/">
      <%= image_tag("salam_logo.png", alt: "logo") %>
      <div class="logo-name">
        <h3>Imam Sidyot</h3>
        <p>Empowering Excellence</p>
      </div>
    </a>
    <nav class="navbar">
      <%= link_to 'home', root_path %>
      <%= link_to 'about', about_us_url %>
      <a href="#services">services</a>
      <a href="#events">event</a>
      <%= link_to 'gallery', galleries_path %>
    </nav>
    <a class="btn" href="#contact">contact us</a>
  </header>
  <!-- ==================== Header Area (End) ==================== -->

  <!-- ==================== Event Details Area (Start) ==================== -->
  <section class="events" id="events" style='margin-top: 90px'>
    <div class="heading">
      <h1>Service's Details Page</h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>
    <div class="image">
      <%= @service&.logo&.attached? ? image_tag(@service&.logo) : image_tag("Home-1.png", alt: "logo") %>
    </div>

    <div class="left-heading" style='margin: 10px 0px'>
    <h1><%= @service&.name %></h1>
    </div>
    <div class='detail'>
      <p style='margin-bottom: 10px; font: 20px'><%= @service&.description %></p>
    </div>

    <div class="container">
      <div class="event-box">
        <div class="latest-event">
          <div class="content">            
            <div class="description">
              <span>feedbacks : <%= @feedbacks.count %></span>
          </div>
          <div>
            <%# @feedbacks.each_with_index do |feedback, index| %>
              <p><%# "#{index + 1}: #{feedback.message}" %></p>
            <%# end %>
          </div>
        </div>
    
    <%= form_with(model: @feedback, url: feedbacks_path, html: { class: 'contact-form' }) do |form| %>
      <h1>Submit Your Feedback</h1>
      <div class="mb-3" style='margin-top: 5px'>
        <%= form.text_field :name, class: 'box form-control', placeholder: 'Name' %>
      </div>

      <div class="mb-3">
        <%= form.text_field :email, class: 'box form-control', placeholder: 'Email' %>
      </div>

      <div class="mb-3">
        <%= form.text_field :subject, class: 'box form-control', placeholder: 'Subject' %>
      </div>

      <div class="mb-3">
        <%= form.text_area :message, class: 'box form-control', placeholder: 'Message', rows: 4 %>
      </div>

      <%= form.hidden_field :service_id, value: @service.id %>

      <%= form.submit 'Submit Feedback', class: 'btn btn-primary' %>
    <% end %>
    </div>
  </section>
  <!-- ==================== Event Details Area (End) ==================== -->
  <%= render partial: 'shared/footer' %>
</body>
</html>
