<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imam Sidyot | Empowering Excellence</title>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/salam_logo.png">
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.0.2/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://unpkg.com/swiper@6.0.2/swiper-bundle.min.js"></script>
  <%= javascript_include_tag 'jquery-3.6.0' %>  
  <script  defer src="https://unpkg.com/swiper@6.0.2/swiper-bundle.min.js"></script>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

body
{
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#333;
    font-family: 'Lato', sans-serif;
}

a{
	
	 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

a:hover, a:focus{
	
	 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

a{
	
	 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
button{
	
	 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
button:hover, button:focus{
	
	 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
.top-line {
 /* background-image: url("../images/bg-news.gif");*/
  padding: 5px 0;
  background:#dcedda;
}
.top-line marquee
{
	/*color:#128739;*/
	color:#128739;
	font-size:16px;
	font-weight:600;
}
.right-header .links ul li a {
  color: #000;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
}
header
{
	-webkit-transition: all 0.70s; 
    transition: all 0.70s;
	-webkit-transition: background 0.20s; 
    transition: background 0.20s;
}
.right-header .links ul li a:hover, .right-header .links ul li a:focus
{
	color:#128739;
}
header.sticky .right-header .links {
 display:none;

}

.header-buttons ul li a {
  background: #128739 none repeat scroll 0 0;
  border: 2px solid #128739;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-top: 6px;
  padding: 7px 18px;
  text-decoration: none;
}
.header-buttons ul li a.donate
{
	 border-radius: 3px;
  color: #fff;
  background:red;
  display: inline-block;
  margin-top: 6px;
  padding: 7px 18px;
  text-decoration: none;
    border: 2px solid red;
}
.header-buttons ul li a.donate:hover, .header-buttons ul li a.donate:focus {
  background: #fff;
  color:red;
  border-color:red;
}

.header-buttons ul li a:hover, .header-buttons ul li a:focus
{
	background:#fff;
	color:#128739;
	border-color:#128739;
}
.header-icons ul li a {
  color: #128739;
  display: inline-block;
  font-size: 20px;
  margin-left: 11px;
  margin-top: 6px;
}

.header-icons ul li a:hover, .header-icons ul li a:focus
{
	color:#000;
}


nav.header-nav ul li a
{
	color:#fff;
	
}
.header-nav {
  background: #128739;
  padding:0px;
}

.header-nav nav ul li a {
  color: #fff;
  margin-right: 66px;
  padding: 15px 0;
  text-transform: uppercase;
}
/********
.header-nav nav ul li.dropdown a span.caret
{
	 transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
}
.header-nav nav ul li.dropdown.open a span.caret
{
	 transform: rotate(180deg);
	 -webkit-transform: rotate(180deg);
}******/

/****.header-nav nav ul li.dropdown a span.caret
{
	 transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
}
.header-nav nav ul li.dropdown a:hover span.caret, .header-nav nav ul li.dropdown a:focus span.caret
{
	 transform: rotate(180deg);
	 -webkit-transform: rotate(180deg);
}******/

.header-nav nav ul.nav.navbar-nav
{
	float:left;
}

.header-nav nav.navbar-collapse
{
	padding:0px;
}


.header-bottom
{
	padding:5px 0px;
}

.header-bottom p a {
  color: #128739;
  display: inline-block;
  font-size: 26px;
  margin-top: 18px;
  text-decoration: none;
}
.header-bottom p
{
	text-align:center;
}
.header-bottom p a {
  color: #128739;
  display: inline-block;
  font-size: 26px;
  margin-top: 18px;
  text-decoration: none;
}


/************banner-section***************/
.banner-section {
  padding: 20px 0 8px;
  position: relative;
}
.banner-video video {
  border: 0 none;
  padding: 0;
  width: 100%;
}

/****list****/
.prayerTiming {
  background: #dcedda;
  float: right;
  margin-right: 0;
  margin-top: -49px;
  position: static;
  width: 100%;
  z-index: 0;
}
.relative-left-banner .prayerCont table {
  width: 100% !important;
}
.prayerTiming h2 {
  color: #000;
  font-family: "Noto Sans",sans-serif;
  font-size: 27px;
  line-height: 25px;
  margin: 19px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}
.prayerCont {
  padding: 10px 4px 15px;
}
.prayerCont table {
  margin-bottom: 10px;
}

.prayerCont tr th {
  background: #128739;
  color: #f1efe8;
  font-size: 15px;
  font-weight: 600;
  height: 28px;
  margin-bottom: 9px;
  text-align: center;
}

.prayerCont tr td {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  height: 27px;
  margin-bottom: 3px;
  text-align: center;
}
.adhanAudio {
  background-color: #128739;
  color: #fff;
}
.adhanAudio .innerbox {
  padding: 5px 15px;
}
.adhanAudio {
  color: #fff;
}

.prayerTiming h2 span {
  font-size: 17px;
}

.header-nav nav ul.navbar-right li
{
	list-style:none;
}
.header-nav nav ul.navbar-right li a {
  font-size: 16px;
  position: relative;
  top: 14px;
}
.banner-video {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: -6px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.download-app
{
	width:100%;
	text-align:center;
	display:inline;
}

.download-app a
{
	float:left;
}

.download-app adownload-btn
{
	font-size:16px;
	color:#fff;
	background:#444;
	padding:6px 10px;
}

.relative-left-banner {
  margin-top: 42px;
  position: relative;
}
.download-app a.download-btn {
  background: #128739;
  border-radius: 3px;
  color: #fff;
  float: right;
  margin-bottom: 14px;
  margin-right: 0;
  margin-top: 24px;
  padding: 10px 0px 12px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.download-app a.download-btn i {
  display: inline-block;
  font-size: 16px;
  margin-top: 1px;
  padding-left: 8px;
}
.download-app a.download-btn:hover, .download-app a.download-btn:focus {
background:#DCEDDA;
color:#128739;
}
.download-app a.app-icon {
  color: #000;
  margin: 4px 4px;
  font-size: 30px;
  line-height: 1;
}

.download-app a.app-icon:hover, .download-app a.app-icon:focus{
	
	color:#128739;
}

.download-app > p {
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.download-app p span{
 color:#128739;
}
/************banner-section***************/

/***************prayer-times**********/
.prayer-times {
  padding: 40px 0px;
}



.prayer-times table a
{
	color:#128739;
	text-decoration:none;
	cursor:pointer;
}
.prayer-times table a:hover, .prayer-times table a:focus
{
	color:#000;
}
.heading h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: -6px;
  text-transform: uppercase;
  font-family: "Noto Serif",serif;
}

/***************prayer-times**********/

/********about-section*********/
.about-section
{
	padding:30px 0px;
	background:#dcedda;
}
.about-section p {
  font-size: 16px;
  margin-bottom: 20px;
}
.about-section ul
{
	margin:0px;
	padding:0px;
	
}

.about-section ul li {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 17px;
}
.about-section ul li a
{
	color:#333;
	text-decoration:none;
}

.about-section ul li a:hover, .about-section ul li a:focus
{
	color:#128739;
}

.prayer-times p a
{
	color:#128739;
	text-decoration:none;
}
.prayer-times p a:hover, .prayer-times p a:focus
{
	color:#000;
	cursor:pointer;
}
.prayer-times table.table {
  margin: 0 0 10px;
}
/********about-section*********/

/*********news-section**********/
.news-section
{
	padding:30px 0px;
}

.announcements-outer
{
	border:1px solid #f1f1f1;
}
.announcements-outer span
{
	width:100%;
	display:inline-block;
	color:#999999;
}

.announcements-outer span a
{
	color:#252525;
	text-decoration:none;
}
.announcements-outer span a:hover, .announcements-outer span a:focus
{
	color:#128739;
}
.announcements-outer h3 a {
  color: #128739;
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
}

.announcements-outer h3 a:hover, .announcements-outer h3 a:focus
{
	color:#444;
}

.announcements-outer p {
  font-size: 16px;
  line-height: 1.8;
}
a.read-more-btn
{
	color:#128739;
	text-transform:uppercase;
	text-decoration:none;
	float:right;
	font-size:14px;
	font-weight:700;
}
a.read-more-btn i
{
	margin-right:7px;
}
.announcements-outer h3 {
  margin: 17px 0px 20px;
}
a.read-more-btn:hover, a.read-more-btn:focus
{
	color:#444;
}
.announcements-outer {
  padding: 40px 40px 56px;
}



/***********services-section********/
.services-section
{
	padding:60px 0px;
	background:#DCEDDA;
}
.services-img img
{
	width:100%;
	transform: scale(1);
	-webkit-transform: scale(1);
		 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

.services-box {
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
  width: 100%;
  text-align:center;
}
.services-box:hover, .services-box:focus
{
	text-decoration:none;
}
.services-box > p {
  color: #000;
  font-size: 18px;
  margin: 10px 0 0;
}

.services-box  p.btn.btn-default.services-button
{
	background:#128739;
	transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
.services-box  p.btn.btn-default.services-button:hover, .services-box  p.btn.btn-default.services-button:focus
{
	background:#DCEDDA;
	color:#128739;
	transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
.services-img {
  height: 175px;
  overflow: hidden;
  width: 100%;
}

.services-img:hover img
{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
		 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

/*****************gallery-section**************/
.gallery-section {
  border-bottom: 1px solid #eaeaea;
  padding: 60px 0;
}
.portfolio-img {
  display: inline-block;
  height: 366px;

  width: 100%;
}

.portfolio-box > h3 {
  text-align: center;
  font-size: 25px;
  margin: 0px 0px 20px;
}

.portfolio-box img {
  width: 100%;
}

/*****************gallery-section**************/
/************our-mission*************/
.our-mission
{
padding:60px 0px;	
}
.who-we-are-outer
{
	width:100%;
	display:inline-block;
}
.who-div {
  float: left;
  padding: 0 15px;
  text-align: center;
  width: 33%;
}
.who-parent
{
	width:800px;
	margin:0px auto;
	display:block;
}

.who-img {
  background: #f1f1f1;
  border-radius: 50%;
  display: inline-block;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 150px;
}
.who-we-are-outer > h2 {
  color: #16893c;
  font-size: 25px;
  margin: 0 0 25px;
  text-align: center;
}

.mision-text {
  padding: 0px 125px;
}
.mision-text > p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
/*****
.who-img i:hover
{
	background:#dcedda;
	color:#128739;
	 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
	 transform: scale(1.1);
-webkit-transform: scale(1.1);
  margin-top: 14px;
}*******/

/**********.who-img i {
transform: scale(1);
-webkit-transform: scale(1);
  background: #128739;
  border: 15px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 62px;
   transition: all 0.4s;
	 -webkit-transition: all 0.4s;
  height: 148px;
  line-height: 118px;
  margin: 0 auto;
	margin-top:88px;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 148px;
}********/

.who-div > p {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  margin: 6px 0 0;
  text-align: center;
}
.who-div > h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

/******footer***********/
#footer {
  background: #dcedda;
  color: #8f8b89;
  padding: 86px 0 0;
}
#footer p {
  color: #8f8b89;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}
#footer address {
  width: 187px;
}
#footer address {
  line-height: 1.8;
}
#footer address > span {
  margin-bottom: 15px;
}
#footer address span {
  display: block;
  overflow: hidden;
}
#footer address .fa {
  float: left;
  font-size: 17px;
  margin-top: 6px;
  width: 27px;
}
#footer h6 {
  color: #128739;
  font-weight: 700;
  font-size:18px;
  margin: 5px 0 35px;
}
#footer p {
  color: #8f8b89;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}
#footer .twitter-update a {
  color: #8f8b89;
  text-decoration:none;
  transition: all 0.4s ease-in-out 0s;
}
.newsletter-social-icon form input[type="email"] {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0;
  border-color: #595756 currentcolor #595756 #595756;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 2px medium 2px 2px;
  color: #8f8b89;
  font-size: 14px;
  height: 44px;
  line-height: 1.42857;
  padding: 6px 12px;
  width: 100%;
}
.services-button {
    background: #128739;
	border-color:#128739;
    color: #fff !important;
    text-align: center;
}
.services-button:hover{
    background: #dcedda;
	color:#128739 !important;
}
.newsletter-social-icon form input[type="submit"] {
  border: 2px solid #128739;
  color: #128739;
}

.newsletter-social-icon form input[type="submit"]:hover, .newsletter-social-icon form input[type="submit"]:focus
{
	background:#128739;
	color:#fff;
}
#footer .social-icons {
  float: left;
  margin: -16px 0 0;
  padding: 0;
  width: 100%;
}
#footer .social-icons > li {
  float: left;
  list-style: outside none none;
  margin-right: 20px;
}
#footer .social-icons a {
  color: #595756;
  font-size: 24px;
}

#footer .social-icons a:hover, #footer .social-icons a:focus{
	
	color:#128739;
}
.copyright {
  background: #000;
  color: #fff;
  font-size: 15px;
  margin-top: 82px;
  padding: 21px 0;
  text-align: center;
}
#footer address span a{
	color:#8f8b89;
}

.copyright span a{
	color:#128739;
	text-decoration:none;
}
.copyright span a:hover, .copyright span a:focus{
	color:#DCEDDA;
}
.footer-form .form-left {
  display: inline-block;
  width: 52% !important;
}

.footer-form {
  display: inline-block;
  margin-bottom: 25px;
  width: 100%;
}

.footer-form .footer-btn {
  margin-left: -3px;
  padding: 10px 25px;
}

.navbar-brand.logo > img {
  width: 109px;
  -webkit-transition: all 0.70s; 
    transition: all 0.70s;
}

.navbar-brand {
  padding: 15px 0px;
}
header.sticky .header-buttons ul li a {

  margin-top: 15px;

}

header.sticky .navbar-brand {
  margin-top: 9px;
  padding: 0;
}
header.sticky .navbar-brand.logo > img {
  width: 81px;
  -webkit-transition: all 0.70s; 
    transition: all 0.70s;
}
.banner-section {
  padding: 20px 0 0;
  position: relative;
}
/**********search bar****************/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    z-index:9999;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #128739;
	border-color: #128739;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

button.btn.btn-primary.search-over
{
	background:#128739;
	border:1px solid #128739;
	padding:8px 15px;
}
button.btn.btn-primary.search-over:hover, button.btn.btn-primary.search-over:focus
{
	color:#128739;
	background:#fff;
	border-color:#128739;
}


.header-nav nav ul li.dropdown  a.dropdown-toggle
{
	background:#128739;
}
.header-nav nav ul li.open a.dropdown-toggle:hover, .header-nav nav ul li.dropdown  a.dropdown-toggle:focus
{
	background:#128739;
}
.header-nav nav ul li.dropdown ul.dropdown-menu li a {
  background: #128739 none repeat scroll 0 0;
  border-bottom: 1px solid #2a9f51;
  color: #fff;
  margin: 0;
  padding: 13px 11px;
}
.header-nav nav ul li.dropdown  ul.dropdown-menu li a:hover, .header-nav nav ul li.dropdown  ul.dropdown-menu li a:focus
{
	color:#128739;
	border-color:#fff;
	background:#fff;
}

/******.header-nav nav ul li.dropdown  ul.dropdown-menu li a:hover, .header-nav nav ul li.dropdown  ul.dropdown-menu li a:color
{
	color:#128739;
}******/

.header-nav nav ul li.dropdown  ul.dropdown-menu {
  border-radius: 0;
  top: 49px;
  padding:0px;
}

header.sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index:999;
  background: #c4d5c2;
  
     -webkit-transition: all 0.70s; 
    transition: all 0.70s;
	 -webkit-transition: background 0.20s; 
    transition: background 0.20s;
}

header.sticky .top-line
{
	display:none;
}


/******************mosque-parent*************/
.mosque-parent
{
	padding:20px 0px;
	background:#dcedda;
	display:none;
	height:0px;
	margin-top:-400px;
	 -webkit-transition: all 1.1s; 
    transition: all 1.1s;
}
.mosque-parent.open
{
	margin-top:0px;
	height:100%;
	display:block;
	-webkit-transition: all 1.1s; 
    transition: all 1.1s;
}
.header-buttons ul li a i {
  margin-left: 3px;
  position: relative;
  top: -2px;
}

.mosque-division h4 {
  color: #000;
  font-size: 20px;
}

.mission-img
{
	width:100%;
	display:inline-block;
	height:150px;
	overflow:hidden;
}

.mosque-division > ul {
  padding: 0;
}
.mosque-division > ul li {
  display: inline-block;
  list-style: outside none none;
  width: 100%;
}
.mosque-division > ul li a {
  color: #333;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}
.mosque-division > ul li a:hover, .mosque-division > ul li a:focus{
	color:#128739;
}
.mosque-division > ul li.mission-last-link {
  border-top: 1px dotted #393939;
  margin-top: 12px;
}
.mosque-division > ul li.mission-last-link a {
  margin: 0;
  padding: 6px 0 0;
}
.mosque-division > ul li.mission-last-link:last-child {
  padding-bottom: 9px;
}
.mosque-division > ul li.mission-last-link a img {
  margin-right: 6px;
  margin-top: -1px;
}

ul.what-do li img {
  width: 65px;
  float: left;
  border: 1px solid #ffff;
  margin-bottom: 12px;
}
ul.what-do li .what-content
{
	float:left;
	width:62%;
	padding-left:10px;
}

ul.what-do li .what-content p {

  font-weight: 100;
  font-size: 12px;
  margin-bottom:5px;
}
ul.what-do li .what-content a.read-more {
  margin: 0px;
  display: inline-block;
  font-size: 12px;
}
.mosque-division > ul.what-do li {
  border-bottom: 1px dotted #393939;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
ul.what-do li .what-content a.read-more img.slick-img {
  width: auto;
  border: 0px;
  float: left;
  margin: 5px 5px 0px 0px;
}

.mosque-division > ul.what-do li:last-child {
  border: 0px;
  margin:0px;
}

.mosque-division > ul.what-do {
  margin-top: 20px;
}

.mosque-division > ul li address {
  color: #757575;
  font-size: 13px;
  margin-top: 7px;
  font-weight: 600;
  line-height: 1.6;
}
.mosque-division > ul li a.get-touch-btn {
  background: #fff;
  border-radius: 2px;
  color: #000;
  font-weight: 600;
  padding: 5px 13px 6px;
}
.mosque-division > ul li a.get-touch-btn:hover, .mosque-division > ul li a.get-touch-btn:focus
{
	background:#128739;
	color:#fff;
	border-color:#128739;
}
.mosque-parent .col-md-4 {
  border-right: 1px dotted #393939;
}
.mosque-parent .col-md-4:last-child {
  border-right: 0px;
}




/**********donate-outer*********/
.donate-outer
{
	padding:60px 0px 0px;
}
.donate-outer h4.donate-head {
  background: #cba125;
  color: #fff;
  font-family: "Droid Sans",sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 0 15px;
  padding: 7px 15px 9px;
  text-align: center;
}
.donate-buttons a {
  background: #128739 none repeat scroll 0 0;
  color: #fff;
  border:1px solid #128739;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  text-decoration:none;
  margin: 0px 5px;
}
.donate-buttons a:hover, .donate-buttons a:focus
{
	background:#C4D5C2;
	color:#128739;
	border-color:#128739;
}
.donate-buttons {
  margin-bottom: 15px;
  margin-top: 4px;
  text-align: center;
}

.donate-division-outer {
  border-bottom: 2px solid #ddd;
  display: inline-block;
  margin-bottom: 43px;
  padding-bottom: 50px;
  width: 100%;
}

.donate-img {
  background-size: cover;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.danate-content {
  margin-top: 10px;
}

.donate-division-outer:last-child
{
	border-bottom:0px;
	padding-bottom:10px;
}

.donate-img h5 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  line-height: 1.5;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.width-clear
{
	width:100%;
	display:inline-block;
}
.danate-content .dolor-buttons button {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 4px 1px;
  padding: 2px 16px;
}
.danate-content .dolor-buttons button:nth-of-type(1)
{
	background:#128739;
	border:1px solid #128739;
}
.danate-content .dolor-buttons button:nth-of-type(2)
{
	background:#f99939;
	border:1px solid #f99939;
}
.danate-content .dolor-buttons button:nth-of-type(3)
{
	background:#34cae5;
	border:1px solid #34cae5;
}
.danate-content .dolor-buttons button:nth-of-type(4)
{
	background:#8224e3;
	border:1px solid #8224e3;
}
.danate-content form .form-group {
  float: left;
  margin-left: 11px;
  margin-right: 11px;
  width: 30%;
}
.danate-content form .form-group input.form-control {
  background: #9e9e9e none repeat scroll 0 0;
  border-color: #9e9e9e;
  color: #fff;
  display: inline-block;
  width: 100%;
  box-shadow:none;
}

.danate-content form .form-group input.form-control:focus
{
	box-shadow:none;
border:1px solid #717171;
}

.danate-content form .form-group input.form-control::-webkit-input-placeholder
{
	color:#fff;
}

.danate-content form .form-group input.form-control::-moz-placeholder
{
	color:#fff;
}

.danate-content form .form-group input.form-control:-ms-input-placeholder
{
	color:#fff;
}

.danate-content form .form-group input.form-control:-moz-placeholder
{
	color:#fff;
}
button.cart-btn {
  background: #1e73be;
  border-color: #1e73be;
  color: #fff;
  padding: 6px 8px;
}
button.cart-btn:hover, button.cart-btn:focus
{
	color:#fff;
	background:#1c6bb1;
	border-color:#1c6bb1;
}
.donate-division {
  float: left;
  padding-right: 15px;
  padding-top: 10px;
  width: 25%;
}

.donate-division:last-child
{
	margin-right:0px;
}

.dolor-buttons {
  margin: 0 0 5px;
  text-align: center;
}

table td button.remove-btn {
  color: #444;
  background: #DCEDDA;
  border: 1px solid #d1d1d1;
  padding: 3px 20px 7px;
  display: inline-block;
  border-radius: 2px;
}
table td button.remove-btn:hover, table td button.remove-btn:focus {
background:#c7d8c5;
border-color:#c7d8c5;
}
a.add-donation-btn {
  background: #128739 none repeat scroll 0 0;
  border: 1px solid #128739;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 7px 37px;
  text-decoration: none;
}
a.add-donation-btn:hover, a.add-donation-btn:focus{
	
	background:#DCEDDA;
	color:#128739;
	border-color:#128739;
}

.personal-info-outer
{
	padding:60px 0px;
}
.doation-cart-section {
  padding: 60px 0px;
  background: #f1f1f1;
}


.personal-info-outer form .form-group {
  margin-bottom: 20px;
}

.personal-info-outer form .form-group input.form-control {
  border: 1px solid #aeaeae;
  border-radius: 0;
  box-shadow: none;
  height: 40px;
}

.personal-info-outer form .form-group textarea.form-control {
  border: 1px solid #aeaeae;
  border-radius: 0;
  box-shadow: none;
  resize:none;
}
.personal-info-outer form .form-group textarea.form-control:focus
{
	box-shadow:inset 0px 0px 1px #6a6a6a;
}
.personal-info-outer form .form-group input.form-control:focus
{
	box-shadow:inset 0px 0px 1px #6a6a6a;
}
.personal-info-outer form .form-group select.form-control:focus
{
	box-shadow:inset 0px 0px 1px #6a6a6a;
}
.personal-info-outer form .form-group select.form-control {
  border: 1px solid #aeaeae;
  border-radius: 0;
  box-shadow: none;
  height: 40px;
}
.personal-info-outer form .form-group label {
  margin-bottom: 8px;
}

a.credit-button {
  background: #128739;
  border-color: #128739;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
	 -webkit-transition: all 0.4s;
	 cursor:pointer;
}

a.credit-button:hover, a.credit-button:focus
{
	background:#DCEDDA;
	border-color:#128739;
	color:#128739;
	transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}


/**********zakat banner***********/

.zakat-banner
{
	background:#DCEDDA;
}
.zakat-banner h2 {
  color: #128739;
  text-transform: uppercase;
  margin: 0px;
  padding: 25px 0px;
  font-weight: 600;
}

.zakat-top-line {
  padding: 40px 0px;
}
.zakat-top-line blockquote
{
	border-left:2px dashed #c54c0b;
	border-right:2px dashed #c54c0b;
	padding:5px;
}

.zakat-top-line blockquote p {
  font-family: "Droid Sans",sans-serif;
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

.zakat-content
{
	
}

.zakat-video h3 {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
}

.video-frame {
  border: 0 none;
  display: inline-block;
  height: 300px;
  width: 100%;
}
.video-frame iframe
{
	border:1px solid #128739;
}

.zakat-video-right h3
{
	font-size:24px;
	text-transform:uppercase;
	font-weight:600;
	color:#000;
	margin:0px 0px 20px;
}

.zakat-video-right a
{
	display:inline-block;
	color:#128739;
	text-decoration:none;
	text-transform:uppercase;
}
.zakat-video-right a:hover, .zakat-video-right a:focus
{
	color:#cba125;
}
.zakat-video-right {
  padding-top: 30px;
}


/*********zakit-form-content*****/
.zakit-form-content
{
	padding:30px 0px;
}


.zakit-form-left h3
{
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.zakit-form-left > p {
  margin-bottom: 16px;
}
.zakit-form-left > ul {
  padding: 0 0 0 17px;
}
.zakit-form-left > ul li {
  line-height: 2;
}

.zakit-form-left a.checkout-btn {
  background: #cba125;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  margin-top: 10px;
  padding: 12px 45px;
  text-decoration: none;
  text-transform: uppercase;
}

.zakit-form-left a.checkout-btn:hover, .zakit-form-left a.checkout-btn:focus
{
	background:#128739;
}

.zakit-form-right {
  background: #eeece1;
  padding: 20px;
}

.zakit-form-right form label.control-label {
  font-weight: normal;
  text-align: left;
}

.zakit-form-right > h4 {
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.zakit-form-right form input.form-control {
  background: #f6f6f6;
  border: 1px solid #686868;
  border-radius: 3px;
  box-shadow: none;
  height: 40px;
}

.zakit-form-right form input.form-control:focus
{
	background:#fff;
}

.zakit-form-right form .form-group .pay-zakat-btn {
  background: red none repeat scroll 0 0;
  border: 1px solid red;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  text-decoration:none;
  padding: 8px 23px;
}
.zakit-form-right form .form-group .pay-zakat-btn:hover, .zakit-form-right form .form-group .pay-zakat-btn:focus
{
	background:#128739;
	border-color:#128739;
}
.zakit-form-right form .form-group:last-child
{
	margin-bottom:0px;
}

.zakit-form-left a.checkout-btn i {
  margin-right: 5px;
}
/*********zakit-form-content*****/


/***********projects-section**********/
.projects-section
{
	padding:40px 0px;
}

.project-head h2 {
  color: #128739;
  font-family: "Noto Serif",serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 20px;
  text-transform: uppercase;
}

a.project-box
{
	text-decoration:none;
	width:100%;
	display:inline-block;
}
.project-img-box {
  display: inline-block;
  height: 240px;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}
.project-img-box img
{
	width:100%;
}

.project-box h4 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  margin: 9px 0 10px;
  text-transform: uppercase;
}
.project-box a.read-more-btn {
  background: #cba125 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  float: left;
  margin-top: 9px;
  padding: 7px 14px;
}
.project-box a.read-more-btn:hover, .project-box a.read-more-btn:focus {
 background:#128739;
}

/***********projects-section**********/



/***************studio-news*********/
.studio-news
{
	padding:40px 0px;
}
.studio-left-inner .date {
  font-size: 15px;
}
.studio-left-inner h4
{
	font-family:18px;
	text-transform:uppercase;
}
.studio-left-inner p
{
	line-height:1.6;
}
.studio-left-inner .read-more {
  background: #cba125 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-top: 14px;
  padding: 5px 10px;
  text-decoration: none;
}

.studio-left-inner .read-more:hover, .studio-left-inner .read-more:focus
{
	background:#128739;
}

.studio-left > h2 {
  color: #128739;
  margin: 0px 0px 20px;
  font-size: 25px;
  font-weight: 600;
}
.studio-left > h4 {
  color: #000;
  font-size: 19px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.studio-left-inner h4 {
  color: #000;
  font-size: 19px;
  margin-bottom: 17px;
}

.studio-left h4.news
{
	position:relative;
}
.studio-left h4.news::after {
  background: #ddd none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 79%;
}

.studio-right h4 {
  color: #000;
  font-size: 19px;
  margin: 0 0 15px;
  position: relative;
  text-transform: uppercase;
}

.studio-right h4.news::after
{
	 background: #ddd none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 60%;
}

.studio-img-outer
{
	width:100%;
	display:inline-block;
	height:250px;
	overflow:hidden;
}
.studio-img-outer img
{
	width:100%;
}

.media-gallery
{
	padding:60px 0px;
	background:#F7F7F7;
}

.gallery-img-outer
{
	text-decoration:none;
	position:relative;
	width:25%;
	overflow:hidden;
	border:1px solid #fff;
	float:left;
	border-right:0px;
	height:150px;
}
.gallery-img-outer img
{
	width:100%;
}
.gallery-img-outer:hover span
{
		display:inline-block;
	background:rgba(0,0,0,0.80);
	 transition: all 0.8s;
	 -webkit-transition: all 0.8s;
	 opacity:1;
}

.gallery-img-outer span {
  bottom: 0px;
  color: #fff;
  display: none;
  opacity: 1;
  position: absolute;
  text-decoration: none;
  transition: all 0.8s ease 0s;
  width: 100%;
  left: 0px;
  right: 0px;
  padding: 4px 11px 7px;
}

.media-gallery .media-head h2
{
	 color: #128739;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 20px;
}

.donate-to-discription {
  padding-bottom: 20px;
}

/*************monthly-section********************/
.monthly-section
{
/* Commented by Muhammad Yasir */
	/*padding:60px 0px;*/
	
}

a.printable-download {
  background: #128739;
  border-bottom: 5px solid #006c1e;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.08em;
  padding: 15px 33px;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom:30px;
}
a.printable-download i {
  margin-right: 3px;
}

a.printable-download:hover, a.printable-download:focus
{
	background:#117E35;
}
.monthly-head h2 {
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  margin: -6px 0 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.monthly-inner {
  margin-top: 30px;
}
.monthly-inner .form-section {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 30px 30px 15px;
  position:relative;
}


.form-section .form-group label span {
  color: #cc0101;
  font-size: 11px;
}
.form-section .form-group input.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  border:1px solid #bbbbbb;
}
.form-section .form-group label {
  margin-bottom: 7px;
}
.form-section .form-group {
  margin-bottom: 20px;
}

.form-section .form-group input.form-control:focus
{
	box-shadow:inset 0px 0px 1px #6a6a6a ;
	border-color:#bbbbbb;
}



.form-section .form-group select.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  border:1px solid #bbbbbb;
}

.form-section .form-group select.form-control:focus
{
	box-shadow:inset 0px 0px 1px #6a6a6a ;
	border-color:#bbbbbb;
}

.requred
{
	color:#cc0101;
}

.monthly-submit {
  background: #128739;
  border: 1px solid #128739;
  color: #fff;
  padding: 9px 34px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
}

.monthly-submit:hover, .monthly-submit:focus
{
	background:#C4D5C2;
	border-color:#C4D5C2;
	color:#128739;
}

/************community-descript**********/
.community-descript h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 12px;
}
.community-descript p {
  line-height: 2;
}
.community-descript {
  background: #dcedda;
  margin-top: 25px;
  padding: 40px 0;
}

.main-community
{
	/* Comment by Muhammad Yasir
	/*padding:60px 0px;*/
}

.first-popup .modal-dialog {
  width: 900px;
}

.popup-img
{
	width:100%;
	display:inline-block;
	height:300px;
	background-size:cover;
}

.first-popup h5 {
  font-weight: 600;
  font-size: 18px;
}
.community-left > ul {
  padding: 0;
}
.community-left > ul li a {
  background: #31a658;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1px;
  padding: 6px 20px;
  text-decoration: none;
  width: 100%;
  	 transition: all 0.4s;
	 outline:none;
	 -webkit-transition: all 0.4s;
}
.community-left > ul li a:hover, .community-left > ul li a:focus
{
	color:#128739;
	background:#DCEDDA;
		 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

.community-left > ul li {
  line-height: 2.2;
  list-style: none;
}



.first-popup ul {
  padding: 0px;
}

.first-popup ul li {
  list-style: none;
  line-height: 2.5;
  color: #444;
}

.first-popup ul li a {
  color: #128739;
  text-decoration: none;
}
.first-popup ul li a:hover, .first-popup ul li a:focus
{
	color:#CBA125;
}
.first-popup .modal-content {
  border-radius: 0px;
}

.community-left > ul li a i {
  color: #fff;
  margin-right: 10px;
   transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
.community-left > ul li a:hover i, .community-left > ul li a:focus i
{
color:#128739;	
 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
.community-left {
  background: #DCEDDA;
  border-right: 2px dotted #dcedda;
  padding: 0px;
}
.community-left.community-right {
  border-right: 0px;
}
.community-right {
  padding-left: 20px;
}

.first-popup .modal-header {
  border: 0 none;
  padding: 0 10px;
}
.first-popup .modal-header button.close {
  font-size: 23px;
  margin-top: 4px;
}
.first-popup .modal-body {
  padding: 0px;
}
.first-popup .modal-body p {
  line-height: 1.7;
  margin-top: 20px;
}

.first-popup .modal-body p a
{
	text-decoration:none;
	color:#128739;
}
.first-popup .modal-body p a:hover, .first-popup .modal-body p a:focus
{
	color:#cba125;
}

.first-popup .modal-body a.image-anker {
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.popup-all-images
{
	width:100%;
	display:inline-block;
}

.first-popup .modal-body .popup-all-images a.image-anker {
  float: left;
  height: 150px;
  padding: 8px;
  width: 20%;
}
.first-popup .modal-body .popup-all-images a.image-anker .popup-img
{
	width:100%;
	height:100%;
}
.internal-script-div
{
	height:0px;
	width:100%;

}

.internal-script-div.sticky
{
	height:260px;
	display:inline-block;
}

.first-popup .carousel-control.left
{
	background-image:none;
}
.first-popup .carousel-control.right
{
	background-image:none;
}

.first-popup .carousel-control
{
	opacity:1;
	color:#128739;
}
.fifth-poster
{
	margin-bottom:30px;
}

/*************monthly-section********************/

/*********registration form************/
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.box.box-info {
    border-top-color: #128739;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
  color: #444;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.btn-info {
    background-color: #128739;
    border-color: #128739;
}
.btn-info:hover, .btn-info:focus
{
	background:#C4D5C2;
	border-color:#C4D5C2;
	color:#128739;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.box.box-solid {
    border-top: 0;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.text-green {
    color: #128739 !important;
}
.text-red {
    color: red !important;
}

.registration-form .box-body label input {
  margin-right: 5px;
  margin-top:2px;
}


.registration-form .box-body input.form-control
{
	box-shadow:none;
}
.registration-form .box-body input.form-control:focus
{
	box-shadow:inset 0px 0px 1px #626262;
	border:1px solid #ccc;
}

.registration-form .box-body select.form-control:focus
{
	box-shadow:inset 0px 0px 1px #626262;
	border:1px solid #ccc;
}
.registration-form {
  background: #f1f1f1;
  margin-top: 15px;
  padding: 20px 0;
}



.header-nav nav ul li a:hover, .header-nav nav ul li a:focus
{
	background:transparent;
	color:#cba125;
}
.header-nav nav ul li.dropdown:hover ul.dropdown-menu, .header-nav nav ul li.dropdown:focus ul.dropdown-menu
{
	display:block;
}
.donate-division h5 {
  color: #000;
  font-weight: 600;
}
form.dolor-form-buttons button.ten-dolor {
  background: #128739;
  border: 1px solid #128739;
  border-radius: 3px;
  color: #fff;
  float: left;
  padding: 6px 16px;
}

.donate-img-inner
{
	width:100%;
	height:100%;
	background-size:cover;
	transform: scale(1);
	-webkit-transform: scale(1);
		 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

.donate-img:hover .donate-img-inner
{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
		 transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

#credit-check-div
{
	display:none;
}
#credit-check-div.open
{
	display:block;
}
#electronic-check-div
{
	display:none;
}
#electronic-check-div.open
{
	display:block;
}

a.checkout-btn-red {
  background: red;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  float: right;
  border:1px solid red;
  font-weight: 600;
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

a.checkout-btn-red:hover, a.checkout-btn-red:focus
{
	background:#fff;
	border-color:red;
	color:red;
	transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}


.zakat-bottom-desc
{
	margin-top:15px;
}


.portfolio-box > p {
  margin-top: 16px;
}
.portfolio-img > p {
  margin-top: 14px;
}

.banner-section.sticky {
  margin-top: 215px;
}

/************tabs**********/


.registration-form .form-group label.control-label span
{
	color:#cc0101;
	font-size:12px;
}
.checkbox.remember-line label input {
  margin-top: 4px;
}
button.cancel {
  margin-left: 15px;
  background: #C4D5C2;
}

button.cancel:hover, button.cancel:focus
{
	background:#ddd;
}

.note-bottom
{
	font-size:16px;
	font-style:italic;
}
.box-footer .note-bottom {
  background: #f1f1f1;
  font-style: italic;
  font-weight: 600;
  padding: 12px;
}
.space-div {
  float: left;
  height: 200px;
  width: 6%;
}

#credit-form-div
{
	display:none;
}
#credit-form-div.open
{
	display:block;
}

#electro-form-div
{
	display:none;
}

#electro-form-div.open
{
	display:block;
}
.who-img img {
  max-height: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
   transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}
.who-img img:hover {
  max-height: 100%;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
   transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

.banner-section .col-md-9 {
  width: 80%;
}
.banner-section .col-md-3 {
  width: 20%;
}.line-takaful.green {
  color: #128739;
}

.download-app a.download-btn span {
  display: inline-block;
}
.banner-section .col-md-4 {
  width: 21%;
}

.banner-section .col-md-8 {
  width: 79%;
  /*padding-right: 50px;*/
  padding-right: 4px;
}

.navbar-right.nav-search-right {
  margin: 0;
  padding: 14px 24px 0 0;
}

.navbar-right.nav-search-right li {
  list-style: none;
}
.navbar-right.nav-search-right li a {
  color: #fff;
}
.navbar-right.nav-search-right li a:hover, .navbar-right.nav-search-right li a:focus
{
	color:#cba125;
}

.right-header .skiptranslate.goog-te-gadget span
{
white-space:normal !important;
}


/****************contact us ***********/
.contact-map {
  background: #eeebe1 none repeat scroll 0 0;
  display: inline-block;
  padding: 60px 0;
  width: 100%;
}
.map-outer iframe {
  width: 100%;
  border: 1px solid #ddd;
  height: 400px;
}
.contact-details
{
	width:100%;
	display:inline-block;
}

.contact-boxes h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.contact-boxes > ul {
  padding: 0;
}
.contact-boxes > ul li {
  list-style: outside none none;
  font-size: 16px;
  line-height: 2;
}
.contact-boxes {
  padding-right: 40px;
}

.contact-boxes > ul li span
{
	width:50%;
	float:left;
}
.contact-boxes > ul li > a {
  color: #333;
  float: left;
  text-decoration: none;
  width: 50%;
}

.contact-boxes > ul li > a:hover, .contact-boxes > ul li > a:focus
{
	color:#128739;
}

.contact-boxes > ul li:last-child span
{
	width:100%;
}
.contact-boxes > ul li:last-child span a
{
	text-decoration:none;
	  color: #333;
}

.contact-boxes > ul li:last-child span a:hover, .contact-boxes > ul li:last-child span a:focus
{
	color:#128739;
}
/****************contact us ***********/

/**********contact-form**********/
.contact-form
{
	padding:60px 0px;
	background-image:url("../images/contact-bg.jpg");
}
.contact-form-inner
{
	display:inline-block;
	width:100%;
}

.contact-form .heading h2 {
  color: #fff;
}

.contact-form-inner .form-group input.form-control {
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  min-height: 47px;
}
.contact-form-inner .form-group select.form-control {
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  min-height: 47px;
}
.contact-form-inner .form-group textarea.form-control {
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  resize:none;
}
.contact-form-inner .form-group textarea.form-control:focus
{
	box-shadow:inset 0px 0px 2px #333;
}

.contact-form-inner .form-group select.form-control:focus
{
	box-shadow:inset 0px 0px 2px #333;
}

.contact-form-inner .form-group input.form-control:focus
{
		box-shadow: inset 0px 0px 2px #333;
}

.contact-form-inner .form-group a.contact-buttons {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0px 20px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0px;
  margin-top: 10px;
  text-decoration:none;
}
.contact-form-inner .form-group a.contact-buttons:hover, .contact-form-inner .form-group a.contact-buttons:focus
{
	color:#128739;
}

.contact-form-inner .form-group
{
	margin-bottom:20px;
}

.imam-content p {
  margin-bottom: 20px;
}
.imam-content {
  width: 100%;
  display: inline-block;
  margin: 20px 0px;
}
.imam-banner {
  padding-bottom: 60px;
}

.contact-form-inner a.submit-btn {
  background: #128739 none repeat scroll 0 0;
  border: 1px solid #128739;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 8px 36px 9px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor:pointer;
  text-decoration: none;
}

.contact-form-inner a.submit-btn:hover, .contact-form-inner a.submit-btn:focus
{
	background:#fff;
	border-color:#128739;
	color:#128739;
}

.imam-form {
  padding: 0px 0px 40px;
}
/**********contact-form**********/

/*********board-of-directors-section**********/
.board-of-directors-section
{
	padding:40px 0px;
}

.left-board-of-directors{
	width:100%;
	display:inline-block;
}
.board-image
{
	width:70%;
	float:left;
}
.board-image img
{
	max-width:100%;
}
.board-text {
  float: left;
  padding: 30px 0 0 20px;
  width: 30%;
}
.board-marquee > marquee {
  background: #dcedda;
  font-size: 16px;
  font-weight: 600;
  padding: 9px;
}
.board-text h1 {
  color: #128739;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.3;
}
.board-text > p {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}
.bord-right
{
	
}

.bord-right > a {
  background: #128739;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 12px 0;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.bord-right > a:hover, .bord-right > a:focus
{
	background:#DCEDDA;
	color:#128739;
}

.board-content table th {
  background: #128739;
  color: #fff;
  font-size: 16px;
  width: 33.3%;
}
.board-content table tr:nth-child(2n) {
  background: #fff;
}
.board-content table td {
  width: 33.3%;
}
.board-content table td a
{
	color:#333;
	text-decoration:none;
}
.board-content table td a:hover, .board-content table td a:focus
{
	color:#128739;
}
.board-content {
  background: #dcedda;
  padding: 20px 20px 1px;
}
.board-content table {
  width: 100%;
}
.board-content table tr:nth-child(2n+1) {
  background: #e8f9e6;
}
/*********board-of-directors-section**********/


/***************sisters-slide-show*****************/
.sisters-slide-show
{
	padding:10px 0px;
}

.sisters-slide-show .item {
  width: 100%;
  height: 450px;
  background-size:cover;
}
.sisters-slide-show > p {
  margin-top: 15px;
}

.sisters-form {
  padding: 0 0 50px;
}
form .form-group label span {
  color: red;
  font-size: 10px;
  margin-left: 2px;
  vertical-align: top;
}

.recent-post-right
{
	
}
.recent-listing a h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 8px;
}
.recent-listing a
{
	text-decoration:none;
	color:#128739;
}
.recent-listing a:hover, .recent-listing a:focus
{
	color:#444;
}
.recent-listing {
  background: #f1f1f1;
  display: inline-block;
  padding: 10px 15px 3px;
  width: 100%;
  margin-bottom:10px;
}

/***************sisters-slide-show*****************/

/**************ias-form-content*******/
.ias-form-content {
  padding: 15px 0px 0px;
}
.ias-form-content > a {
  color: #128739;
  text-decoration: none;
}
.ias-form-content > a:hover, .ias-form-content > a:focus
{
	color:#000;
}
.ias-form-content > a  h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0px 0px 7px;
}
.ias-form-content > p {
  margin-bottom: 25px;
}
/**************ias-form-content*******/



/**********faq-section*********/
.faq-section
{
	
}
.faq-section h4.panel-title a {
  background: #dcedda;
  color: #128739;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}
.faq-section .panel {
padding:0px;
}
.faq-section .panel .panel-heading {
padding:0px;
}
.faq-section h4.panel-title a i {
  margin-right: 5px;
  float:left;
}
.faq-section h4.panel-title a span {
  float: left;
}

.current-project-map
{
	margin-top:20px;
}

.donate-btn-current {
  background: red;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 7px 18px;
  text-decoration: none;
  border: 2px solid red;
  margin-top: 10px;
}
.donate-btn-current:hover, .donate-btn-current:focus
{
	color:red;
	background:#fff;
	text-decoration:none;
}

.annoucement-popup.modal
{
	border-radius:0px;
}
.modal-content.annoucement-popup-spacing {
  padding: 0 30px 15px;
}
.annoucement-popup-spacing .modal-header {
  padding: 0px;
}
.annoucement-popup-spacing button.close {
  margin: 0px 0px 5px;
}
.news-section.annoucement-news {
  padding: 30px 0px 0px;
}
.annoucement-popup-spacing .modal-footer
{
	padding-right:0px;
	padding-left:0px;
}
/**********faq-section*********/

/*********islamic-course-outer************/
.islamic-course-outer
{
	
}
.course-buttons {
  background: #128739;
  border-radius: 3px;
  border:2px solid #128739;
  color: #fff;
  display: inline-block;
  text-decoration:none;
  margin: 0 10px;
  padding: 8px 35px;
  cursor:pointer;
}
.course-buttons:hover, .course-buttons:focus
{  text-decoration:none;
	background:#fff;
	color:#128739;
}
.renew-content {
  background: #DCEDDA;
  padding: 20px;
  display:none;
  margin: 40px 0px 0px;
}
.renew-content .renew-search {
  background: #128739 none repeat scroll 0 0;
  border: 2px solid #128739;
  color: #fff;
  margin-top: 24px;
  padding: 9px 20px;
  width: 100%;
}

.renew-content .renew-search:hover, .renew-content .renew-search:focus
{
	background:#fff;
	color:#128739;
}
.renew-content form input.form-control {
  border: 1px solid #c9c9c9;
  border-radius: 0;
  box-shadow: none;
  height: 42px;
}

.renew-content form input.form-control:focus
{
	border-color:#128739;
}

.renew-content h3 {
  color: #000;
  font-size: 22px;
  margin: 0 0 25px;
  text-transform: uppercase;
}

.renew-table-btn {
  background: #128739;
  border:1px solid #128739;
  border-radius: 3px;
  color: #fff;

  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
}
.renew-table-btn:hover, .renew-table-btn:focus
{  text-decoration:none;
	color:#128739;
	background:#fff;
	border-color:#128739;
}
.renu-table table th {
  width: 17%;
  background:#cadbc8;
}
.renu-table {
  background: #f0f0f0;
  margin-top: 50px;
  padding: 25px 0 0;
}
.renu-table > p {
  text-align: center;
  background: #F6F6F6;
  padding: 15px;
}
.application-space
{
	margin-top:15px;
}

.renew-content.open
{
	display:inline-block;
}
.course-inner {
  padding: 0 0 60px;
}


/****steps css*********/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
/****steps css*********/

.wizard > .steps > ul > li {
  width: 20% !important;
}
.wizard > .steps .number {
  display: none;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
  margin: 0 10px 0 0;
}
li.last a#wizard-t-4
{
	margin:0px;
}
.apply-steps-outer .wizard > .content
{
	margin:10px 0px 0px;
}
.apply-steps-outer {
  margin-top: 40px;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
  background: #128739;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
  background: #57cc7e;
}

.apply-steps-outer .actions ul li a {
 background: #128739;
  border-radius: 3px;
  margin-top: 15px;
  border:1px solid #128739;
  padding: 8px 20px;
}
.apply-steps-outer .actions ul li a:hover, .apply-steps-outer .actions ul li a:focus {
 background: #007527;
 color:#fff;
  border-radius: 3px;
  border:1px solid #128739;
  padding: 8px 20px;
}

.apply-steps-outer .actions ul li.disabled a
{
	border-color:#EEEEEE;
}

.wizard > .content {
  min-height: auto !important;
}
.wizard > .content > .body {
  float: left;
  height: 100%;
  padding: 0px;
  position: relative;
  width: 100%;
}
.step-one-div > h2 {
  margin: 0px 0px 15px;
  font-size: 25px;
}

.wizard > .actions > ul {
  float: left;
  text-align: left;
}
.wizard > .actions > ul > li {
  margin: 0px 10px 0px 0px;
}

.apply-steps-outer .last-step-outer {
  padding-top: 20px;
}
.apply-steps-outer .danate-content form .form-group {
  margin-left: 7px;
  margin-right: 7px;
}

#apply-data
{
	display:none;
}
#apply-data.open
{
	display:inline-block;
}
.index-table.board-content table td {
  width: 27.8%;
}


/**********mobile-app-discription**********/
.mobile-app-discription {
  background: #dcedda none repeat scroll 0 0;
  padding: 20px 15px;
}
.mobile-app-discription h3 {
  margin: 0px 0px 12px;
}

.mobile-app-data
{
	padding:0px 0px 40px;
}

.app-right img
{
	width:100%;
}
.app-right > a {
  display: inline-block;
  float: left;
  width: 50%;
}
.app-left > h2 {
  margin: 0px 0px 15px;
}

.app-left ul li {
  line-height: 1.7;
  margin-bottom: 20px;
}

.app-left ul li a
{
	color:#128739;
	text-decoration:none;
}

.app-left ul li a:hover, .app-left ul li a:focus
{
	color:red;
}

.additional-inline-checkbox .radio {
  display: inline-block;
  margin-bottom: -9px;
  width: 60px;
}
.monthly-section.takaful-fund {
  padding-top: 5px;
}

/***********financial-outer-section*******/
.financial-outer-section
{
	padding:40px 0px;
}

.financial-head h3
{
	font-size:25px;
	margin:0px 0px 15px;
}

.finacial-inner-box
{
	padding:15px;
	width:100%;
	display:inline-block;
}
.financial-box h4 {
  font-size: 20px;
  margin: 10px 0 10px 11px;
}
.financial-box {
  border: 1px solid #ddd;
  padding: 0px;
}
.finacial-inner-box .form-group label {
  float: left;
  margin-top: 7px;
  width: 144px;
}
.finacial-inner-box .form-group input.form-control {
  border-radius:0px;
  box-shadow:none;
  float:right;  width: 54%;
  border:1px solid #bcbcbc;
}

.finacial-inner-box .form-group input.form-control:focus
{
	box-shadow:inset 0px 0px 1px #777;
}

.finacial-inner-box .form-group {
  margin: 5px 0px;
}

.finacial-inner-box .form-group label span
{
	vertical-align:bottom;
}

.form-section .form-group textarea.form-control
{
	border-radius:0px;
	box-shadow:none;
	resize:none;
}

.form-section .form-group textarea.form-control:focus
{
	border-color: #bbbbbb;
    box-shadow: 0 0 1px #6a6a6a inset;
}

.additional-inline-checkbox .radio.width-clear
{
	width:100%;
	display:inline-block;
}
.ul-descri {
  padding: 0px;
}
.ul-descri > li {
  line-height: 1.6;
  list-style: none;
  margin-bottom: 15px;
}

.ul-descri > li:last-child
{
	  margin-bottom: 0px;
}
h4.line-takaful {
  font-size: 20px;
  margin: 0 0 25px;
}

.facility-form
{
	background:#DCEDDA;
}
.form-section.faculity-border {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 15px;
  width: 100%;
}
.map-outer h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 33px 0px 15px;
}
.matrimonial-content ul li {
  list-style: none;
  line-height: 2.2;
}
.matrimonial-content ul li a
{
	text-decoration:none;
	color:#128739;
}
.matrimonial-content ul li a:hover, .matrimonial-content ul li a:focus
{
	color:#333;
}
.matrimonial-content ul li span
{
	margin-right:5px;
}
.matrimonial-content h3 {
  font-weight: 600;
  margin: 0 0 15px;
}
.checkbox-div-space {
  padding: 0px 90px;
}
.checkbox-div-space .checkbox > label {
  margin-right: 15px;
}

.fc-event {
  background-color: #128739;
  border: 1px solid #128739;
  text-decoration:none;
}

.event-calender-div .modal-footer .btn-primary {
  background-color: #128739;
  border:2px solid  #128739;
  color: #fff;
}

.event-calender-div .modal-footer .btn-primary:hover, .event-calender-div .modal-footer .btn-primary:focus
{
	background:#fff;
	border-color:#128739;
	color:#128739;
}
.fc-event, .fc-event:hover, .ui-widget .fc-event {
  color: #fff;
  border-color: #128739 !important;
  text-decoration:none;
  background: #128739 !important;
}

.event-calender-div {
  margin-top: 40px;
}


/***********list-view-event************/

.list-view-event {
  background: #f5f5f5;
  padding: 60px 0 10px;
}

.list-view-event p {
  font-size: 20px;
  margin: 0px;
}


.list-view-list h4.line-view
{
	border-bottom:1px solid #70BC3A;
}
.list-view-list h4.line-view2
{
	border-bottom:1px solid #EA9035;
}

.list-view-list h4.line-view span {
  background: #70bc3a none repeat scroll 0 0;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 13px;
}
.list-view-list h4.line-view2 span {
  background: #EA9035;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 13px;
}
.list-view-inner-content > h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 31px 0 14px;
}
.list-view-inner-content > p {
  font-size: 16px;
  margin: 0px 0px 15px;
}
.list-view-inner-content > p a {
  text-decoration: none;
  color:#128739;
}
.list-view-inner-content > p a:hover, .list-view-inner-content > p a:focus
{
	color:red;
}
.list-view-inner-content {
  margin-bottom: 50px;
}

.list-view-left {
  color: #333;
  display: inline-block;
  font-size: 18px;
  margin-top: 26px;
}
.list-view-left:hover, .list-view-left:focus
{
	color:#128739;
}
.list-view-des
{
	margin-bottom:26px;
}

table.ui-datepicker-calendar td {
  padding: 12px;
  border: 1px solid #ddd;text-align: center;
  background: #f1f1f1;
cursor:pointer;
}

table.ui-datepicker-calendar td:hover, table.ui-datepicker-calendar td:focus
{
	background:#fff;
}
table.ui-datepicker-calendar th {
  padding: 8px;
  background: #efefef;
  border: 1px solid #ddd;
  text-align: center;
}
table.ui-datepicker-calendar td a{
color:#000;
display:inline-block;
text-transform:uppercase;
text-decoration:none;
}
.ui-datepicker-prev.ui-corner-all {
  float: left;cursor:pointer;
}

.ui-datepicker-next.ui-corner-all {
float:right;
cursor:pointer;
}.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  background: #ddd;
  padding: 5px 15px;
}

.input-group.document-upload span.input-group-btn span.btn.btn-default.btn-file
{
	z-index:0;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all a {
  color: #000;
  text-decoration: none;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all a:hover, .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all a:focus
{
	color:#128739;
}

.cancel-btn {
  background: #d4d4d4 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 34px;
  text-transform: uppercase;
  margin-left: 15px;
}

.cancel-btn:hover, .cancel-btn:focus
{
	background:#f1f1f1;
}

.login-header {
  float: right;
  color: #128739;
  margin-top: 2px;
  margin-left: 30px;
  font-weight: 600;
  margin-right: 6px;
  font-size: 16px;
  text-decoration: none;
}

.login-header:hover, .login-header:focus
{
	color:#000;
	text-decoration:none;
}

.login-header i {
  margin-right: 3px;
  font-size: 14px;
}

.main-info p {
  margin-top: 0px !important;
  margin-bottom: 20px;
}

.directory-listing {
  background: #F1EFE8;
  border: 1px solid #E7E5DE;
  margin-bottom: 20px;
  padding-bottom:15px;
}
.directory-listing h3 a {
  text-decoration: none;
  color:#128739;
  font-size:20px;
}




.directory-listing h3 a:hover, .directory-listing h3 a:focus
{
	color:#000;
}
.directory-listing h3
{
	margin-bottom:10px;
}
.directory-listing p {
  margin: 10px 0px 0px !important;
}

.modal-body.donate-outer .heading h2 {
  margin: 25px 0 15px;
}

.visit-form-head h2
{
	font-style:italic;
	font-weight:normal;
}
.visit-form-head h3
{
	color:#128739;
}

.visit-main > h2 {
  text-transform: capitalize;
  font-size: 22px;
}
.visit-main > p {
  color: #5d5d5d;
  font-size: 16px;
}

/* .address-inner label */
/* { */
	/* font-weight:300px; */
/* } */



/**************24/6/17***********/

.address-inner label {
  font-weight: 100;
  margin-top: 10px;
}

.visit-text-form {
  border-bottom: 1px solid #f6f6f6;
  padding: 8px 0px;
}





/*********gallery ***********/
.gallery-outer
{
	padding:40px 0px;
}
.gallery-page-img img {
  width: 100%;
  display: inline-block;
}
.inner-popup-galle {
  border: 3px solid #128739;
  margin-bottom: 30px;
}

.gallery-outer .nav.nav-tabs li a {
  padding: 12px 4px;
  background: #128739;
  color: #fff;
  border-color: #fff;
  box-shadow: none;
  font-size: 16px;
  letter-spacing: 0.05em;
  outline:none;
}

.gallery-outer .nav.nav-tabs li a:hover, .nav.nav-tabs li a:focus{
	background:#fff;  outline:none;
	color:#128739;
	border-color:#128739;border-bottom:0px;
}

.gallery-outer .nav.nav-tabs li.active a
{  outline:none;
	background:#fff;
	color:#128739;
	border-color:#128739;
	border-bottom:0px;
}
.gallery-outer .tab-content {
  padding-top: 10px;
}

.directory-listing img
{
	max-width:100%;
}

/* Written By Muhammad Yasir*/

.credit-button{
  background: #128739;
  border-color: #128739;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 8px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
	 -webkit-transition: all 0.4s;
	 cursor:pointer;
}

.credit-button:hover, credit-button:focus
{
	background:#DCEDDA;
	border-color:#128739;
	color:#128739;
	transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}

.conatctus-button{
  background: #128739;
  border-color: #128739;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 8px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
	 -webkit-transition: all 0.4s;
	 cursor:pointer;
}

.conatctus-button:hover, conatctus-button:focus
{
	background: #DCEDDA;
	border-color: #128739;
	color:#128739;
	transition: all 0.4s;
	 -webkit-transition: all 0.4s;
}


/* End */
  </style>

</head>
<body>
  <!-- Scroll-Top Area -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>

  <%= render partial: 'shared/header' %>

  <section class="events gallery" id="events" style='margin-top: 90px'>

  <div class="mainContent">
	<div class="internal-script-div"></div>

<div class="imam-banner donate-outer">
<div class="container">
<div class="text-left heading">
<h2>FAQ</h2>
</div>

<!--<h4 class="donate-head">
FAQ Quatotation 
</h4>  -->

<div class="faq-section">
 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading1">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
							<i class="more-less glyphicon glyphicon-plus"></i>
							<span>dummy Question</span>
						</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
					<div class="panel-body">
						  dummy Questiondummy Questiondummy Questiondummy Questiondummy Questiondummy Questiondummy Question					</div>
				</div>
			</div>
					<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading2">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
							<i class="more-less glyphicon glyphicon-plus"></i>
							<span>dummy Question2</span>
						</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
					<div class="panel-body">
						  dummy Questiondummy Questiondummy Questiondummy Questiondummy Questiondummy Question					</div>
				</div>
			</div>
					<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading3">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
							<i class="more-less glyphicon glyphicon-plus"></i>
							<span>Content Needed</span>
						</a>
					</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
					<div class="panel-body">
						  Content NeededContent NeededContent NeededContent NeededContent NeededContent NeededContent NeededContent NeededContent NeededContent NeededContent NeededContent Needed					</div>
				</div>
			</div>
					<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading4">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
							<i class="more-less glyphicon glyphicon-plus"></i>
							<span>Content Needed</span>
						</a>
					</h4>
				</div>
				<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
					<div class="panel-body">
						  Content NeededContent NeededContent NeededContent NeededContent NeededContent Needed					</div>
				</div>
			</div>
					<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading5">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
							<i class="more-less glyphicon glyphicon-plus"></i>
							<span>Content Needed</span>
						</a>
					</h4>
				</div>
				<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
					<div class="panel-body">
						  Content NeededContent NeededContent NeededContent NeededContent NeededContent NeededContent Needed					</div>
				</div>
			</div>
		    </div><!-- panel-group -->
</div>


</div>
</div>
</div>

  </section>

  <%= render partial: 'shared/footer' %>
  

  <!-- JQuery -->
 <%= javascript_include_tag 'jquery-3.6.0' %>
 <%= javascript_include_tag 'tinymce' %>
  <!-- SWIPER JS -->
  <%#= javascript_include_tag 'swiper.js' %>
  <%= javascript_include_tag 'home-slider.js' %>
    <%= javascript_include_tag 'script.js' %>
        <%= javascript_include_tag 'scroll-spy.js' %>
  <!-- Animation -->
 <%= javascript_include_tag 'aos.js' %>

</html>