  <% if @header_setting.present? %>
    <footer class="footer">

    <div class="box-container">

      <div class="footer-item">
        <a class="logo" href="/">
        <% if @header_setting.logo_image.present? %>
          <%= image_tag @header_setting.logo_image, alt: "logo", class: "logo", height: @header_setting.logo_height, width: @header_setting.logo_width %>
        <% end %>
          <div class="logo-name">
            <h3><%= @header_setting&.logo_text %></h3>
            <p><%= @header_setting&.tagline %></p>
          </div>
        </a>
        <p><%= @header_setting&.footer_description %></p>
      </div>

      <div class="footer-item">
        <h2>useful links</h2>
        <span></span>
        <div class="links">
          <% @header_setting.menu_order.split("\n").each do |menu_item| %>
            <% case menu_item.downcase.strip %>
              <% when 'home' %>
                <%= link_to menu_item, root_path %>
              <% when 'about' %>
                <%= link_to menu_item, about_us_path %>
              <% when 'services' %>
                <%= link_to menu_item, services_path %>
              <% when 'event' %>
                <%= link_to menu_item, events_path %>
              <% when 'gallery' %>
                <%= link_to menu_item, galleries_path %>
              <% else %>
                <a href="#<%= menu_item.downcase %>"><%= menu_item %></a>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="footer-item">
        <h2>office timings</h2>
        <span></span>
        <div class="timing">
          <p>Mon-Fri:<%= @header_setting.timings %></p>
          <p>Sat: <%= @header_setting.timings %> </p>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/sidyot?mibextid=eBUYbo"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/Imamilyas"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/@Imam-Ilyas-sidyot"><i class="fab fa-youtube"></i></a>
          <a href="https://chat.whatsapp.com/E85hKzpPj8rHSKBnPFLDt1"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>

      <div class="footer-item">
        <h2>contact info</h2>
        <span></span>
        <div class="info">
          <p><i class="phone fas fa-phone"></i><span><%= @header_setting.phone1 %></span></p>
          <p><i class="phone fas fa-phone"></i><span><%= @header_setting.phone2 %></span></p>
          <p><i class="envelope fas fa-envelope"></i><span class="gmail">
            <% if @header_setting&.email %>
              <%= @header_setting&.email %>
            <% elsif Contact.first.email %>
              <%= Contact.first.email %>
            <% else %>
              imamsaskatoon@gmail.com
            <% end %>
          </span></p>
        </div>
      
      </div>

    </div>

    <div class="content">
      <p>© Copyright 2023 <span>Imam Sidyot</span>, All rights reserved.</p>
    </div>

  </footer>

  <% else %>
    <footer class="footer">

      <div class="box-container">

        <div class="footer-item">
          <a class="logo" href="/">
          <%= image_tag("salam_logo.png", alt: "Logo") %>
            <div class="logo-name">
              <h3>Imam Sidyot</h3>
              <p>Empowering Excellence</p>
            </div>
          </a>
          <p>His vision is to promote awareness, understanding, and respect in a multi-faith environment, as well as putting his effort into helping the Muslim community around him thrive and excel.</p>
        </div>

        <div class="footer-item">
          <h2>useful links</h2>
          <span></span>
          <div class="links">
          <a href="/"><i class="fas fa-long-arrow-alt-right"></i>home</a>
          <%= link_to about_us_url do %><i class="fas fa-long-arrow-alt-right"></i>about<% end %>
          <a href="#services"><i class="fas fa-long-arrow-alt-right"></i>services</a>
          <a href="#events"><i class="fas fa-long-arrow-alt-right"></i>events</a>
          <%= link_to galleries_path do %><i class="fas fa-long-arrow-alt-right"></i>gallery<% end %>
          </div>
        </div>

        <div class="footer-item">
          <h2>office timings</h2>
          <span></span>
          <div class="timing">
            <p>Mon-Fri: 8:00 - 20:00</p>
            <p>Sat: 8:00 - 20:00 </p>
          </div>
          <div class="social">
            <a href="https://www.facebook.com/sidyot?mibextid=eBUYbo"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/Imamilyas"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@Imam-Ilyas-sidyot"><i class="fab fa-youtube"></i></a>
          </div>
        </div>

        <div class="footer-item">
          <h2>contact info</h2>
          <span></span>
          <div class="info">
            <p><i class="phone fas fa-phone"></i><span>306.341.8888</span></p>
            <p><i class="phone fas fa-phone"></i><span>18774064626</span></p>
            <p><i class="envelope fas fa-envelope"></i><span class="gmail">imamsaskatoon@gmail.com</span></p>
          </div>
        
        </div>

      </div>

      <div class="content">
        <p>© Copyright 2023 <span>Imam Sidyot</span>, All rights reserved.</p>
      </div>

    </footer>
  <% end %>