<% if @header_setting.present? %>
  <header class="header">
    <i class="fa-solid fa-bars-staggered" id="menu-btn"></i>

    <a class="logo" href="/">
      <% if @header_setting.logo_image.present? %>
        <%= image_tag @header_setting.logo_image, alt: "logo", class: "logo", height: @header_setting.logo_height, width: @header_setting.logo_width %>
      <% end %>
      <div class="logo-name">
        <h3><%= @header_setting&.logo_text %></h3>
        <p><%= @header_setting&.tagline %></p>
      </div>
    </a>

    <nav class="navbar">
      <% @header_setting.menu_order.split("\n").each do |menu_item| %>
        <% case menu_item.downcase.strip %>
          <% when 'home' %>
            <%= link_to menu_item, root_path %>
          <% when 'about' %>
            <%= link_to menu_item, about_us_path %>
          <% when 'services' %>
            <%= link_to menu_item, services_path %>
          <% when 'event' %>
            <%= link_to menu_item, events_path %>
          <% when 'gallery' %>
            <%= link_to menu_item, galleries_path %>
          <% else %>
            <a href="#<%= menu_item.downcase %>"><%= menu_item %></a>
        <% end %>
      <% end %>
    </nav>

    <a class="btn" href="#contact">contact us</a>
  </header>
<% else %>
  <header class="header">

  <i class="fa-solid fa-bars-staggered" id="menu-btn"></i>

  <a class="logo" href="/">
    <%= image_tag("salam_logo.png", alt: "logo", class: "logo") %>
    <div class="logo-name">
      <h3>Imam Sidyot</h3>
      <p>Empowering Excellence</p>
    </div>
  </a>

  <nav class="navbar">
    <%= link_to 'home', root_path %>
    <%= link_to 'about', about_us_url %>
    <%= link_to 'services', services_path %>
    <%= link_to 'event', events_path %>
    <%= link_to 'gallery', galleries_path %>
    <%#= link_to 'faq', faqs_path %>
  </nav>

  <a class="btn" href="#contact">contact us</a>

  </header>
<% end %>