<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>Imam Sidyot | Event Details</title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/salam_logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->

  <%= render partial: 'shared/header' %>

  <!-- ==================== Event Details Area (Start) ==================== -->
  <section class="events event-show" id="events" style='margin: 110px 0px 40px 0px'>
    <div class="start-heading">
      <h1><%= @event&.heading %></h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>
    <div class="image thumb-image-event">
      <%= @event&.image&.attached? ? image_tag(@event&.image) : image_tag("Home-1.png", alt: "logo") %>
        <div class="content">            
          <div class="description descriptionp">
            <span>scholar : <%= @event&.scholar %></span>
            <span>timing : <%= @event&.start_time&.strftime("%I:%M %p") %> - <%= @event&.end_time&.strftime("%I:%M %p") %></span>
            <span>date : <%= @event&.date&.strftime("%m/%d/%Y") %></span>
            <h4 class="meta-tags-image"><i class="fas fa-tag"></i><span>Text<%#= @event&.event_types&.join(', ') %></span></h4>
          </div>
        </div>
    </div>
    <div class='detail'>
      <p><%= @event&.details %></p>
    </div>
  </section>
  <!-- ==================== Event Details Area (End) ==================== -->

  <%= render partial: 'shared/footer' %>
</body>
</html>
