<!DOCTYPE html>
<html lang="en">
<head>  

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>Imam Sidyot | Empowering Excellence</title>

  <!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/salam_logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->

  <%= render partial: 'shared/header' %>


  <!-- ==================== Home Area (Start) ==================== -->
  <section class="home" id="home">

    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">
        <% if @sliders.blank? %>
          <div class="swiper-slide home-item">
            <div class="content">
              <div class="text" data-aos="fade-right">
                <div class="logo"><%= image_tag("Logo.png", alt: "logo") %></div>
                <h5>بسم الله الرحمن الرحيم</h5>
                <h2>أَبْشِرُوا وَسَدِّدُوا وَقَارِبُوا</h2>
                <div class="heading">
                  <div class="design">
                    <p class="design-info">( al-Adab al-Mufrad 254 )</p>
                  </div>
                </div>
                <p>Give glad tidings, follow the right course, and seek nearness to Allah.</p>
                <a class="btn" href="#contact">contact us</a>
              </div>
            </div>
          
            <div class="image">
              <%= image_tag("Home-1.png", alt: "logo") %>
            </div>
          </div>

          <div class="swiper-slide home-item">

            <div class="content">
              <div class="text" data-aos="fade-right">
                <div class="logo"><%= image_tag("Logo.png", alt: "logo") %></div>
                <h5>بسم الله الرحمن الرحيم</h5>
                <h2>يَقُولُ اللَّهُ إِنْ ظَنَّ بِي خَيْرًا فَلَهُ وَإِنْ ظَنَّ شَرًّا فَلَهُ</h2>
                <div class="heading">
                  <div class="design">
                    <p class="design-info">( Sahih Ibn Hibban 639 )</p>
                  </div>
                </div>
                <p>Allah Almighty says: I am as My servants expects of Me. If he thinks good of Me, he will have it. If he thinks evil of
                Me, he will have it.
                </p>
                <a class="btn" href="#contact">contact us</a>
              </div>
            </div>

            <div class="image">
            <%= image_tag("Home-2.png", alt: "logo") %>
            </div>

          </div>

          <div class="swiper-slide home-item">

            <div class="content">
              <div class="text" data-aos="fade-right">
                <div class="logo"><%= image_tag("Logo.png", alt: "logo") %></div>
                <h5>بسم الله الرحمن الرحيم</h5>
                <h2>قَالَ اللَّهُ أَنْفِقْ يَا ابْنَ آدَمَ أُنْفِقْ عَلَيْك</h2>
                <div class="heading">
                  <div class="design">
                    <p class="design-info">( Sahih al-Bukhari 5352 )</p>
                  </div>
                </div>
                <p>Allah said, 'O son of Adam! Spend, and I shall spend on you</p>
                <a class="btn" href="#contact">contact us</a>
              </div>
            </div>
            
            <div class="image">
              <%= image_tag("Home-3.png", alt: "logo") %>
            </div>

          </div>
        <% else %>
          <% @sliders.each do |slider| %>
            <% if slider.active %>
              <% if slider.background_video_url.present? %>
                <%= link_to slider.background_video_url do %>
                  <div class="swiper-slide home-item">
                    <% youtube_id = slider.background_video_url.match(/(?:\?v=|\/embed\/|\/v\/|\/vi\/|\/watch\?v=|\/watch\?feature=player_embedded&v=|\/watch\?feature=player_embedded&feature=player_embedded&v=)([^&\n]+)/).try(:[], 1) %>
                    <% if youtube_id.present? %>
                      <a href="https://www.youtube.com/watch?v=<%= youtube_id %>" target="_blank" rel="noopener noreferrer">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
                      </a>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="swiper-slide home-item">
                  <div class="content">
                    <div class="text" data-aos="fade-right">
                      <div class="logo"><%= image_tag(slider&.logo, alt: "logo") %></div>
                      <h5><%= slider&.header %></h5>
                      <h2><%= slider&.title %></h2>
                      <div class="heading">
                        <div class="design">
                          <p class="design-info"><%= slider&.context %></p>
                        </div>
                      </div>
                      <p><%= slider&.description.html_safe %></p>
                      <a class="btn" href="<%= slider&.link_address %>"><%= slider&.link_text %></a>
                    </div>
                  </div>
                  <div class="image">
                    <%= image_tag(slider.background_image, alt: "slider_image") %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>      
      </div>

      <div class="swiper-pagination swiper-pagination1"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </section>
  <!-- ==================== Home Area (End) ==================== -->



  <% if @about.blank? %>
  <section class="about" id="about">

    <div class="box-container">

      <div class="content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <div class="heading">
          <h1>welcome to <br> Imam Sidyot Empowering Excellence</h1>
          <div class="design">
            <%= image_tag("salam_logo.png", alt: "logo") %>
          </div>
        </div>
        <p>Imam Ilyas Sidyot is a dedicated, hardworking, compassionate, and resourceful Imam. He has spent his time working throughout Canada, excelling in religious leadership, family counseling, and community building. He also has worked hard in facilitating community outreach initiatives, interfaith programs and establishing positive relationships in diverse settings. With over 25 years of experience, he has developed a wide range of tools, skills, to help navigate any challenges with skill and sensitivity by the will of Allah (SWT). </p>
        <%
=begin%>
 <ul>
          <li>Helping needy people</li>
          <li>providing shelter</li>
          <li>Special ChildCare</li>
        </ul> 
<%
=end%>
<br>
<%
=begin%>
 <p>His vision is to promote awareness, understanding, and respect in a multi-faith environment, as well as putting his effort into helping the Muslim community around him thrive and excel.</p> 
<%
=end%>
    
 <a class="btn" href="#contact">Detail Page</a> 



      </div>

      <div class="image">
        <div>
          <div class="image1">
            <%= image_tag("About-1.png", alt: "about1") %>
          </div>
          <div class="image2">
            <%= image_tag("About-2.png", alt: "about1") %>
          </div>
        </div>
        <div>
          <div class="image3">
            <%= image_tag("About-3.png", alt: "about1") %>
          </div>
          <div class="image4">
            <%= image_tag("About-4.png", alt: "about1") %>
          </div>
        </div>
      </div>

    </div>

  </section>
  <% else %>
  <section class="about" id="about">
    <div class="box-container">
      <div class="content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <div class="heading">
          <h1>welcome to <br> <%= @about&.title %></h1>
          <div class="design">
            <%= image_tag("salam_logo.png", alt: "logo", class: "logo") %>
          </div>
        </div>
        <p><%= @about&.description %></p>
        <a class="btn" href="<%= @about&.link_text %>">Detail Page</a>
      </div>

      <div class="image">
        <div>
          <div class="image1">
            <%= image_tag(@about&.images[0], alt: "about1") if @about&.images&.attached? %>
          </div>
          <div class="image2">
            <%= image_tag(@about&.images[1], alt: "about2") if @about&.images&.attached? %>
          </div>
        </div>
        <div>
          <div class="image3">
            <%= image_tag(@about&.images[2], alt: "about3") if @about&.images&.attached? %>
          </div>
          <div class="image4">
            <%= image_tag(@about&.images[3], alt: "about4") if @about&.images&.attached? %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
  <!-- ==================== About Area (End) ==================== -->


  
  <!-- ==================== Services Area (Start) ==================== -->
  <section class="services" id="services">

    <div class="heading">
      <h1>our services</h1>
      <div class="design"><%= image_tag("salam_logo.png", alt: "logo") %></div>
    </div>
    <% if @services.blank? %>      
      <div class="box-container">
      
        <div class="service-item">
          <div class="image">
          <%= image_tag("Service-1.png", alt: "Service-1") %>
          </div>
          <h3>Nikah & Marriage </h3>
        </div>

        <div class="service-item">
          <div class="image">
          <%= image_tag("Service-2.png", alt: "Service-2") %>
          </div>
          <h3>Counselling</h3>
        </div>

        <div class="service-item">
          <div class="image">
          <%= image_tag("Service-3.png", alt: "Service-3") %>
          </div>
          <h3>Khutba or Prayer Service</h3>
        </div>

        <div class="noMobileView" style="width:100%;"></div>
        
        <div class="service-item">
          <div class="image">
                  <%= image_tag("Service-4.png", alt: "Service-4") %>
          </div>
          <h3>Q&A and experts advise</h3>
        </div>

        <div class="service-item">
          <div class="image">
                    <%= image_tag("Service-5.png", alt: "Service-5") %>
          </div>
          <h3>Speech or Presentation</h3>
        </div>

        <div class="service-item">
          <div class="image">
                    <%= image_tag("Service-6.png", alt: "Service-6") %>
          </div>
          <h3>Separation or Divorce/Khula</h3>
        </div>
      </div>
    <% else %>
      <div class="box-container">
        <% service_count = 0 %>
        <% @services&.each do |service| %>
          <% if service.active? %>
            <div class="service-item border-rad-color">
              <%= link_to service_path(service) do %>
                <div class="image">
                  <%= image_tag(service&.logo, alt: "Service-logo") if service&.logo&.attached? %>
                </div>
                <h3><%= service&.name %></h3>
              <% end %>
            </div>
            <% service_count += 1 %>

            <% if service_count % 3 == 0 %>
              <div class="noMobileView" style="width:100%;"></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </section>
  <!-- ==================== Services Area (End) ==================== -->



  <!-- ==================== Events Area (Start) ==================== -->
  <% if @events.blank? %>
    <section class="events" id="events">

      <div class="heading">
        <h1>upcoming events</h1>
        <div class="design">
                <%= image_tag("salam_logo.png", alt: "Logo") %>
        </div>
      </div>

      <div class="box-container">

        <div class="event-box1">

          <div class="event-item">
            <div class="date">
              <h2>26 <br> jan</h2>
              <p>fri</p>
            </div>
            <div class="detail">
              <h3>emmergence of islam</h3>
              <p>engr. rahat ali | <span class="timing">5:00 pm</span></p>
              <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
            </div>
          </div>
          <div class="event-item">
            <div class="date">
              <h2>26 <br> jan</h2>
              <p>fri</p>
            </div>
            <div class="detail">
              <h3>sufis & spirituality</h3>
              <p>engr. rahat ali | <span class="timing">5:00 pm</span></p>
              <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
            </div>
          </div>

          <div class="event-item">
            <div class="date">
              <h2>26 <br> jan</h2>
              <p>fri</p>
            </div>
            <div class="detail">
              <h3>gender & equality</h3>
              <p>engr. rahat ali | <span class="timing">5:00 pm</span></p>
              <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
            </div>
          </div>

        </div>

        <div class="event-box2">
          <div class="latest-event">
            <div class="content">
              <h3 class="label">latest event</h3>
              <h2><span>topic :</span> history of islam</h2>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis autem, assumenda sit impedit hic iure.</p>
              <div class="description">
                <span>scholar : engr. rahat ali</span>
                <span>timing : 5:00 pm - 6:30 pm</span>
                <span>date : 2/20/2023</span>
              </div>
              <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
            </div>
            <div class="image">
            <%= image_tag("Event.png", alt: "Event") %>
            </div>
          </div>
        </div>

      </div>

    </section>
  <% else %>
    <section class="events" id="events">
      <div class="heading">
        <h1>upcoming events</h1>
        <div class="design">
          <%= image_tag("salam_logo.png", alt: "Logo") %>
        </div>
      </div>

      <div class="box-container">
        <div class="event-box1">
          <% @events&.each do |event| %>
            <% if event.active? %>
              <div class="event-item">
                <div class="date">
                  <h2><%= event&.date&.strftime("%d %b") %></h2>
                  <p><%= event&.date&.strftime("%a") %></p>
                </div>
                <div class="detail">
                  <%= link_to event_path(event) do %>
                    <h3><%= event&.heading %></h3>
                    <p><%= event&.scholar %> | <span class="timing"><%= event&.start_time&.strftime("%I:%M %p") %></span></p>
                    <h4><i class="fas fa-tag"></i><span><%= event&.event_types&.join(', ') %></span></h4>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="event-box2">
          <% if @latest_event && @latest_event.active %>
            <%= link_to event_path(@latest_event) do %>
              <div class="latest-event">
                <div class="content">
                  <h3 class="label">latest event</h3>
                  <h2><span>topic :</span> <%= @latest_event&.heading %></h2>
                  <p><%= @latest_event&.details %></p>
                  <div class="description">
                    <span>scholar : <%= @latest_event&.scholar %></span>
                    <span>timing : <%= @latest_event&.start_time&.strftime("%I:%M %p") %> - <%= @latest_event&.end_time&.strftime("%I:%M %p") %></span>
                    <span>date : <%= @latest_event&.date&.strftime("%m/%d/%Y") %></span>
                  </div>
                  <h4><i class="fas fa-tag"></i><span><%= @latest_event&.event_types&.join(',') %></span></h4>
                </div>
                <div class="image">
                  <%= image_tag(@latest_event&.image) if @latest_event&.image&.attached? %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <!-- ==================== Events Area (End) ==================== -->




  <!-- ==================== Contact Area (Start) ==================== -->
  <section class="contact" id="contact">

    <div class="heading">
      <h1>our contact</h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>

    <div class="contact-info" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000">
    
      <% if @contacts.blank? %>
        <div class="info-item">
          <i class="fas fa-phone"></i>
          <h3>phone number</h3>
          <p>306.341.8888</p>
        </div>
        
        <div class="info-item">
          <i class="fas fa-phone"></i>
          <h3>phone number</h3>
          <p>18774064626</p>
        </div>
      
        <div class="info-item">
          <i class="fas fa-envelope"></i>
          <h3>email address</h3>
          <p class="gmail">imamsaskatoon@gmail.com</p>
        </div>
      <% else %>
        <div class="info-item">
          <i class="fas fa-phone"></i>
          <h3>phone number</h3>
          <% @contacts.each do |contact| %>
            <p><%= contact.phone %></p>
          <% end %>
        </div>
        
        <div class="info-item">
          <i class="fas fa-phone"></i>
          <h3>Mobile number</h3>
          <% @contacts.each do |contact| %>
            <p><%= contact.mobile %></p>
          <% end %>
        </div>
      
        <div class="info-item">
          <i class="fas fa-envelope"></i>
          <h3>email address</h3>
          <% @contacts.each do |contact| %>
            <p class="gmail"><%= contact.email %></p>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class="box-container">
      <%= form_with(model: @feedback, url: feedbacks_path, html: { class: 'contact-form' }) do |form| %>
        <h2>Get In Touch</h2>
        <div class="mb-3" style='margin-top: 5px'>
          <%= form.text_field :name, class: 'box form-control', placeholder: 'Name' %>
        </div>

        <div class="mb-3">
          <%= form.text_field :email, class: 'box form-control', placeholder: 'Email' %>
        </div>

        <div class="mb-3">
          <%= form.text_field :subject, class: 'box form-control', placeholder: 'Subject' %>
        </div>

        <div class="mb-3">
          <%= form.text_area :message, class: 'box form-control', placeholder: 'Message', rows: 4 %>
        </div>

        <%= form.submit 'Submit Feedback', class: 'btn btn-primary' %>
      <% end %>

    </div>

  </section>
  <!-- ==================== Contact Area (End) ==================== -->

  <%= render partial: 'shared/footer' %>

  <!-- JQuery -->
 <%= javascript_include_tag 'jquery-3.6.0' %>
 <%= javascript_include_tag 'tinymce' %>
  <!-- SWIPER JS -->
  <%= javascript_include_tag 'swiper.js' %>
  <%= javascript_include_tag 'home-slider.js' %>
    <%= javascript_include_tag 'script.js' %>
        <%= javascript_include_tag 'scroll-spy.js' %>
  <!-- Animation -->
 <%= javascript_include_tag 'aos.js' %>


  <!-- ========== Custom Script ========== -->

  <!-- Contact-Form Script -->
  <script>
      jQuery('#contact-form').on('submit',function(e){
      jQuery('#contact-form #msg').html('');
      jQuery('#contact-form #submit').html('Please wait');
      jQuery('#contact-form #submit').attr('disabled',true);
      jQuery.ajax({
          url:'assets/php/submit.php',
          type:'post',
          data:jQuery('#contact-form').serialize(),
          success:function(result){
              jQuery('#contact-form #msg').html(result);
              jQuery('#contact-form #submit').html('Submit');
              jQuery('#contact-form #submit').attr('disabled',false);
              jQuery('#contact-form')[0].reset();
          }
      });
      e.preventDefault();
      });
  </script>

  <!-- INITIALIZING AOS -->
  <script>
    AOS.init({
        delay: 400,
        duration: 1000
    })
  </script>
</html>