<!DOCTYPE html>
<html lang="en">
<head>  

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>Imam Sidyot | Empowering Excellence</title>

  <!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/salam_logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->



  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">

    <i class="fa-solid fa-bars-staggered" id="menu-btn"></i>

    <a class="logo" href="#">
      <%= image_tag("salam_logo.png", alt: "logo", class: "logo") %>
      <div class="logo-name">
        <h3>Imam Sidyot</h3>
        <p>Empowering Excellence</p>
      </div>
    </a>

    <nav class="navbar">
      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#services">services</a>
      <a href="#events">event</a>
    </nav>

    <a class="btn" href="#contact">contact us</a>

  </header>
  <!-- ==================== Header Area (End) ==================== -->



  <!-- ==================== Home Area (Start) ==================== -->
  <section class="home" id="home">

    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">

        <% if @sliders.blank? %>
          <div class="swiper-slide home-item">
          
            <div class="content">
              <div class="text" data-aos="fade-right">
                <div class="logo"><%= image_tag("salam_logo.png", alt: "logo") %></div>
                <h5>بسم الله الرحمن الرحيم</h5>
                <h2>أَبْشِرُوا وَسَدِّدُوا وَقَارِبُوا</h2>
                <div class="heading">
                  <div class="design">
                    <p class="design-info">( al-Adab al-Mufrad 254 )</p>
                  </div>
                </div>
                <p>Give glad tidings, follow the right course, and seek nearness to Allah.</p>
                <a class="btn" href="#contact">contact us</a>
              </div>
            </div>
          
            <div class="image">
              <%= image_tag("Home-1.png", alt: "logo") %>
            </div>
          
          </div>

          <div class="swiper-slide home-item">

            <div class="content">
              <div class="text" data-aos="fade-right">
                <div class="logo"><%= image_tag("salam_logo.png", alt: "logo") %></div>
                <h5>بسم الله الرحمن الرحيم</h5>
                <h2>يَقُولُ اللَّهُ إِنْ ظَنَّ بِي خَيْرًا فَلَهُ وَإِنْ ظَنَّ شَرًّا فَلَهُ</h2>
                <div class="heading">
                  <div class="design">
                    <p class="design-info">( Sahih Ibn Hibban 639 )</p>
                  </div>
                </div>
                <p>Allah Almighty says: I am as My servants expects of Me. If he thinks good of Me, he will have it. If he thinks evil of
                Me, he will have it.
                </p>
                <a class="btn" href="#contact">contact us</a>
              </div>
            </div>

            <div class="image">
            <%= image_tag("Home-2.png", alt: "logo") %>
            </div>

          </div>

          <div class="swiper-slide home-item">

            <div class="content">
              <div class="text" data-aos="fade-right">
                <div class="logo"><%= image_tag("salam_logo.png", alt: "logo") %></div>
                <h5>بسم الله الرحمن الرحيم</h5>
                <h2>قَالَ اللَّهُ أَنْفِقْ يَا ابْنَ آدَمَ أُنْفِقْ عَلَيْك</h2>
                <div class="heading">
                  <div class="design">
                    <p class="design-info">( Sahih al-Bukhari 5352 )</p>
                  </div>
                </div>
                <p>Allah said, 'O son of Adam! Spend, and I shall spend on you</p>
                <a class="btn" href="#contact">contact us</a>
              </div>
            </div>
            
            <div class="image">
              <%= image_tag("Home-3.png", alt: "logo") %>
            </div>

          </div>
        <% end %>

        <div class="swiper-slide home-item">
          <% @sliders.each do |slider| %>
            <div class="content">
              <div class="text" data-aos="fade-right">
                <div class="logo"><%= image_tag(slider&.logo, alt: "logo") %></div>
                <h5><%= slider&.header %></h5>
                <h2><%= slider&.title %></h2>
                <div class="heading">
                  <div class="design">
                    <p class="design-info"><%= slider&.context %></p>
                  </div>
                </div>
                <p><%= slider&.description %></p>
                <a class="btn" href="<%= slider&.link_address %>"><%= slider&.link_text %></a>
              </div>
            </div>

            <div class="image">
              <%= image_tag(slider&.background_image, alt: "slider_image") %>
            </div>
          <% end %>
        </div>

      </div>

      <div class="swiper-pagination swiper-pagination1"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </section>
  <!-- ==================== Home Area (End) ==================== -->



  <!-- ==================== About Area (Start) ==================== -->
  <section class="about" id="about">

    <div class="box-container">

      <div class="content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <div class="heading">
          <h1>welcome to <br> Imam Sidyot Empowering Excellence</h1>
          <div class="design">
            <%= image_tag("salam_logo.png", alt: "logo") %>
          </div>
        </div>
        <p>Imam Ilyas Sidyot is a dedicated, hardworking, compassionate, and resourceful Imam. He has spent his time working throughout Canada, excelling in religious leadership, family counseling, and community building. He also has worked hard in facilitating community outreach initiatives, interfaith programs and establishing positive relationships in diverse settings. With over 25 years of experience, he has developed a wide range of tools, skills, to help navigate any challenges with skill and sensitivity by the will of Allah (SWT). </p>
        <%
=begin%>
 <ul>
          <li>Helping needy people</li>
          <li>providing shelter</li>
          <li>Special ChildCare</li>
        </ul> 
<%
=end%>
<br>
<%
=begin%>
 <p>His vision is to promote awareness, understanding, and respect in a multi-faith environment, as well as putting his effort into helping the Muslim community around him thrive and excel.</p> 
<%
=end%>
    
 <a class="btn" href="#contact">Detail Page</a> 



      </div>

      <div class="image">
        <div>
          <div class="image1">
            <%= image_tag("About-1.png", alt: "about1") %>
          </div>
          <div class="image2">
            <%= image_tag("About-2.png", alt: "about1") %>
          </div>
        </div>
        <div>
          <div class="image3">
            <%= image_tag("About-3.png", alt: "about1") %>
          </div>
          <div class="image4">
            <%= image_tag("About-4.png", alt: "about1") %>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- ==================== About Area (End) ==================== -->


  
  <!-- ==================== Services Area (Start) ==================== -->
  <section class="services" id="services">

    <div class="heading">
      <h1>our services</h1>
      <div class="design"><%= image_tag("salam_logo.png", alt: "logo") %></div>
    </div>
    
    <div class="box-container">
    
      <div class="service-item">
        <div class="image">
        <%= image_tag("Service-1.png", alt: "Service-1") %>
        </div>
        <h3>Nikah & Marriage </h3>
      </div>

      <div class="service-item">
        <div class="image">
        <%= image_tag("Service-2.png", alt: "Service-2") %>
        </div>
        <h3>Counselling</h3>
      </div>

      <div class="service-item">
        <div class="image">
        <%= image_tag("Service-3.png", alt: "Service-3") %>
        </div>
        <h3>Khutba or Prayer Service</h3>
      </div>

      <div class="noMobileView" style="width:100%;"></div>
      
      <div class="service-item">
        <div class="image">
                <%= image_tag("Service-4.png", alt: "Service-4") %>
        </div>
        <h3>Q&A and experts advise</h3>
      </div>

      <div class="service-item">
        <div class="image">
                  <%= image_tag("Service-5.png", alt: "Service-5") %>
        </div>
        <h3>Speech or Presentation</h3>
      </div>

      <div class="service-item">
        <div class="image">
                  <%= image_tag("Service-6.png", alt: "Service-6") %>
        </div>
        <h3>Separation or Divorce/Khula</h3>
      </div>
      
      <%
=begin%>
 <div class="service-item">
        <div class="image">
                <%= image_tag("Service-7.png", alt: "Service-7") %>
        </div>
        <h3>Food</h3>
      </div>
      
      <div class="service-item">
        <div class="image">
                <%= image_tag("Service-8.png", alt: "Service-8") %>
        </div>
        <h3>family counselling</h3>
      </div> 
<%
=end%>

    </div>

  </section>
  <!-- ==================== Services Area (End) ==================== -->



  <!-- ==================== Events Area (Start) ==================== -->
  <section class="events" id="events">

    <div class="heading">
      <h1>upcoming events</h1>
      <div class="design">
              <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>

    <div class="box-container">

      <div class="event-box1">

        <div class="event-item">
          <div class="date">
            <h2>26 <br> jan</h2>
            <p>fri</p>
          </div>
          <div class="detail">
            <h3>emmergence of islam</h3>
            <p>engr. rahat ali | <span class="timing">5:00 pm</span></p>
            <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
          </div>
        </div>
        <div class="event-item">
          <div class="date">
            <h2>26 <br> jan</h2>
            <p>fri</p>
          </div>
          <div class="detail">
            <h3>sufis & spirituality</h3>
            <p>engr. rahat ali | <span class="timing">5:00 pm</span></p>
            <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
          </div>
        </div>

        <div class="event-item">
          <div class="date">
            <h2>26 <br> jan</h2>
            <p>fri</p>
          </div>
          <div class="detail">
            <h3>gender & equality</h3>
            <p>engr. rahat ali | <span class="timing">5:00 pm</span></p>
            <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
          </div>
        </div>

      </div>

      <div class="event-box2">
        <div class="latest-event">
          <div class="content">
            <h3 class="label">latest event</h3>
            <h2><span>topic :</span> history of islam</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis autem, assumenda sit impedit hic iure.</p>
            <div class="description">
              <span>scholar : engr. rahat ali</span>
              <span>timing : 5:00 pm - 6:30 pm</span>
              <span>date : 2/20/2023</span>
            </div>
            <h4><i class="fas fa-tag"></i><span>families, young, adults</span></h4>
          </div>
          <div class="image">
          <%= image_tag("Event.png", alt: "Event") %>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- ==================== Events Area (End) ==================== -->




  <!-- ==================== Contact Area (Start) ==================== -->
  <section class="contact" id="contact">

    <div class="heading">
      <h1>our contact</h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>

    <div class="contact-info" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000">
    
      <div class="info-item">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>306.341.8888</p>
      </div>
      
      <div class="info-item">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>18774064626</p>
      </div>
    
      <div class="info-item">
        <i class="fas fa-envelope"></i>
        <h3>email address</h3>
        <p class="gmail">imamsaskatoon@gmail.com</p>
      </div>
    
      <%
=begin%>
 <div class="info-item">
        <i class="address fas fa-map"></i>
        <h3>office location</h3>
        <p>london, UK</p>
      </div> 
<%
=end%>
    
    </div>

    <div class="box-container">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d924234.6303368191!2d66.59494515823903!3d25.193389461148573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e06651d4bbf%3A0x9cf92f44555a0c23!2sKarachi%2C%20Karachi%20City%2C%20Sindh%2C%20Pakistan!5e0!3m2!1sen!2s!4v1645287442276!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000"></iframe>
      
      <form method="post" class="contact-form" id="contact-form">

        <h2>get in touch</h2>

        <input type="text" name="name" class="box" id="name" placeholder="name" required >
        <input type="email" name="email" class="box" id="email" placeholder="email" required >
        <input type="text" name="subject" class="box" id="subject" placeholder="subject" required >         
        <textarea cols="30" rows="10" name="comment" class="box" id="comment" placeholder="message"></textarea>
        
        <button type="submit" class="btn" name="submit" id="submit">submit</button>
  
        <span class="alert" id="msg"></span>
  
      </form>

    </div>

  </section>
  <!-- ==================== Contact Area (End) ==================== -->



  <!-- ==================== Footer Area (Start) ==================== -->
  <footer class="footer">

    <div class="box-container">

      <div class="footer-item">
        <a class="logo" href="#">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
          <div class="logo-name">
            <h3>Imam Sidyot</h3>
            <p>Empowering Excellence</p>
          </div>
        </a>
        <p>His vision is to promote awareness, understanding, and respect in a multi-faith environment, as well as putting his effort into helping the Muslim community around him thrive and excel.</p>
      </div>

      <div class="footer-item">
        <h2>useful links</h2>
        <span></span>
        <div class="links">
          <a href="#home"><i class="fas fa-long-arrow-alt-right"></i>home</a>
          <a href="#about"><i class="fas fa-long-arrow-alt-right"></i>about</a>
          <a href="#services"><i class="fas fa-long-arrow-alt-right"></i>services</a>
          <a href="#events"><i class="fas fa-long-arrow-alt-right"></i>events</a>
          <%
=begin%>
 <a href="#donation"><i class="fas fa-long-arrow-alt-right"></i>donation</a>
          <a href="#volunteers"><i class="fas fa-long-arrow-alt-right"></i>volunteers</a>
          <a href="#testimonials"><i class="fas fa-long-arrow-alt-right"></i>testimonials</a> 
<%
=end%>
        </div>
      </div>

      <div class="footer-item">
        <h2>office timings</h2>
        <span></span>
        <div class="timing">
          <p>Mon-Fri: 8:00 - 20:00</p>
          <p>Sat: 8:00 - 20:00 </p>
        </div>
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="footer-item">
        <h2>contact info</h2>
        <span></span>
        <div class="info">
          <p><i class="phone fas fa-phone"></i><span>306.341.8888</span></p>
          <p><i class="phone fas fa-phone"></i><span>18774064626</span></p>
          <p><i class="envelope fas fa-envelope"></i><span class="gmail">imamsaskatoon@gmail.com</span></p>
          <%
=begin%>
 <p><i class="address fas fa-map"></i><span>karachi, pakistan</span></p> 
<%
=end%>
        </div>
       
      </div>

    </div>

    <div class="content">
      <p>© Copyright 2023 <span>Imam Sidyot</span>, All rights reserved.</p>
    </div>

  </footer>
  <!-- ==================== Footer Area (End) ==================== -->




    

  

  <!-- JQuery -->
 <%= javascript_include_tag 'jquery-3.6.0' %>
  <!-- SWIPER JS -->
  <%= javascript_include_tag 'swiper.js' %>
  <%= javascript_include_tag 'home-slider.js' %>
    <%= javascript_include_tag 'script.js' %>
        <%= javascript_include_tag 'scroll-spy.js' %>
  <!-- Animation -->
 <%= javascript_include_tag 'aos.js' %>


  <!-- ========== Custom Script ========== -->

  <!-- Contact-Form Script -->
  <script>
      jQuery('#contact-form').on('submit',function(e){
      jQuery('#contact-form #msg').html('');
      jQuery('#contact-form #submit').html('Please wait');
      jQuery('#contact-form #submit').attr('disabled',true);
      jQuery.ajax({
          url:'assets/php/submit.php',
          type:'post',
          data:jQuery('#contact-form').serialize(),
          success:function(result){
              jQuery('#contact-form #msg').html(result);
              jQuery('#contact-form #submit').html('Submit');
              jQuery('#contact-form #submit').attr('disabled',false);
              jQuery('#contact-form')[0].reset();
          }
      });
      e.preventDefault();
      });
  </script>

  <!-- INITIALIZING AOS -->
  <script>
    AOS.init({
        delay: 400,
        duration: 1000
    })
  </script>
</html>