<!DOCTYPE html>
<html lang="en">
<head>  

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>Imam Sidyot | Empowering Excellence</title>

  <!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/salam_logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->

  <%= render partial: 'shared/header' %>

  <!-- ==================== Gallery Details Area (Start) ==================== -->
  <section class="events gallery" id="events" style='margin-top: 90px'>
    <div class="start-heading">
      <h1><%= @gallery&.title %></h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>
    <div class="image thumb-image-event">
      <%= @gallery&.front_image&.attached? ? image_tag(@gallery&.front_image) : image_tag("Home-1.png", alt: "logo") %>
    </div>
    <div class='detail'>
        <p><%= @gallery&.description.html_safe %></p>
    </div>

    <!-- ==================== Slider Area (Start) ==================== -->
    
    <!-- ==================== Slider Area (End) ==================== -->
  </section>
  <!-- ==================== Gallery Details Area (End) ==================== -->


  <!-- ==================== Slider Area (End) ==================== -->
    <% unless @gallery&.photos&.blank? %>      
      <section class="services" id="services">
          <div class="heading">
            <h1>our Images</h1>
            <div class="design"><%= image_tag("salam_logo.png", alt: "logo") %></div>
          </div>  
      <div class="box-container">
        <% image_count = 0 %>
        <% @gallery&.photos&.each do |gallery_photo| %>
          <div class="service-item customcolumn">
            <%= image_tag(gallery_photo.image, alt: "Service-logo", onclick: "openModal(); currentSlide(#{image_count + 1});") %>
          </div>
          <% image_count += 1 %>
        <% end %>

        <div class="modal" id="myModal">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content">
            <% image_count = 0 %>
            <% @gallery&.photos&.each do |gallery_photo| %>
              <div class="mySlides">
                <%= image_tag(gallery_photo.image, alt: "Service-logo") %>
              </div>
              <% image_count += 1 %>
            <% end %>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
        </div>
        </div>
      </section>
  <% end %>
  






  <%
=begin%>
 <% unless @gallery&.photos&.blank? %>      
  <section class="services" id="services">

    <div class="heading">
      <h1>our Images</h1>
      <div class="design"><%= image_tag("salam_logo.png", alt: "logo") %></div>
    </div>
      <div class="box-container">
        <% image_count = 0 %>
        <% @gallery&.photos&.each do |gallery_photo| %>
          <div class="service-item">
            <%= image_tag(gallery_photo.image, alt: "Service-logo") %>
          </div>
          <% image_count += 1 %>

          <% if image_count % 3 == 0 %>
            <div class="noMobileView" style="width:100%;"></div>
          <% end %>
        <% end %>
      </div>
  </section>
  <% end %> 
<%
=end%>






  <%= render partial: 'shared/footer' %>
  

  <!-- JQuery -->
 <%= javascript_include_tag 'jquery-3.6.0' %>
 <%= javascript_include_tag 'tinymce' %>
  <!-- SWIPER JS -->
  <%= javascript_include_tag 'swiper.js' %>
  <%= javascript_include_tag 'home-slider.js' %>
    <%= javascript_include_tag 'script.js' %>
        <%= javascript_include_tag 'scroll-spy.js' %>
  <!-- Animation -->
 <%= javascript_include_tag 'aos.js' %>


  <!-- ========== Custom Script ========== -->

  <!-- Contact-Form Script -->
<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>
  <script>
      jQuery('#contact-form').on('submit',function(e){
      jQuery('#contact-form #msg').html('');
      jQuery('#contact-form #submit').html('Please wait');
      jQuery('#contact-form #submit').attr('disabled',true);
      jQuery.ajax({
          url:'assets/php/submit.php',
          type:'post',
          data:jQuery('#contact-form').serialize(),
          success:function(result){
              jQuery('#contact-form #msg').html(result);
              jQuery('#contact-form #submit').html('Submit');
              jQuery('#contact-form #submit').attr('disabled',false);
              jQuery('#contact-form')[0].reset();
          }
      });
      e.preventDefault();
      });
  </script>

  <!-- INITIALIZING AOS -->
  <script>
    AOS.init({
        delay: 400,
        duration: 1000
    })
  </script>
</html>