<!DOCTYPE html>
<html lang="en">
<head>  

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->
  <title>Imam Sidyot | Empowering Excellence</title>

  <!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/salam_logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fas fa-caret-up"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->

  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">
    <i class="fa-solid fa-bars-staggered" id="menu-btn"></i>
    <a class="logo" href="/">
      <%= image_tag("salam_logo.png", alt: "logo") %>
      <div class="logo-name">
        <h3>Imam Sidyot</h3>
        <p>Empowering Excellence</p>
      </div>
    </a>
    <nav class="navbar">
      <%= link_to 'home', root_path %>
      <%= link_to 'about', about_us_url %>
      <a href="#services">services</a>
      <a href="#events">event</a>
      <%= link_to 'gallery', galleries_path %>
    </nav>
    <a class="btn" href="#contact">contact us</a>
  </header>
  <!-- ==================== Header Area (End) ==================== -->

  <!-- ==================== Gallery Details Area (Start) ==================== -->
  <section class="events" id="events" style='margin-top: 90px'>
    <div class="heading">
      <h1>Gallery's Details Page</h1>
      <div class="design">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
      </div>
    </div>
    <div class="image">
      <%= @gallery&.front_image&.attached? ? image_tag(@gallery&.front_image) : image_tag("Home-1.png", alt: "logo") %>
    </div>

    <div class="left-heading" style='margin: 10px 0px'>
    <h1><%= @gallery&.title %></h1>
    </div>
    <div class='detail'>
      <p style='margin-bottom: 10px; font: 20px'><%= @gallery&.description %></p>
    </div>

    <!-- ==================== Slider Area (Start) ==================== -->
    
    <!-- ==================== Slider Area (End) ==================== -->
  </section>
  <!-- ==================== Gallery Details Area (End) ==================== -->



  <!-- ==================== Slider Area (Start) ==================== -->
  <section class="home" id="home" style='margin-bottom: 80px'>

    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide home-item">
          <div class="image">
            <%= image_tag(@gallery&.slider_image_1) %>
          </div>
        </div>

        <div class="swiper-slide home-item">
          <div class="image">
            <%= image_tag(@gallery&.slider_image_2) %>
          </div>

        </div>

        <div class="swiper-slide home-item">
          <div class="image">
            <%= image_tag(@gallery&.slider_image_3) %>
          </div>

        </div>
      </div>

      <div class="swiper-pagination swiper-pagination1"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </section>
  <!-- ==================== Slider Area (End) ==================== -->

  <!-- ==================== Footer Area (Start) ==================== -->
  <footer class="footer">

    <div class="box-container">

      <div class="footer-item">
        <a class="logo" href="/">
        <%= image_tag("salam_logo.png", alt: "Logo") %>
          <div class="logo-name">
            <h3>Imam Sidyot</h3>
            <p>Empowering Excellence</p>
          </div>
        </a>
        <p>His vision is to promote awareness, understanding, and respect in a multi-faith environment, as well as putting his effort into helping the Muslim community around him thrive and excel.</p>
      </div>

      <div class="footer-item">
        <h2>useful links</h2>
        <span></span>
        <div class="links">
          <a href="/"><i class="fas fa-long-arrow-alt-right"></i>home</a>
          <%= link_to about_us_url do %><i class="fas fa-long-arrow-alt-right"></i>about<% end %>
          <a href="#services"><i class="fas fa-long-arrow-alt-right"></i>services</a>
          <a href="#events"><i class="fas fa-long-arrow-alt-right"></i>events</a>
          <%= link_to galleries_path do %><i class="fas fa-long-arrow-alt-right"></i>gallery<% end %>
          <%
=begin%>
 <a href="#donation"><i class="fas fa-long-arrow-alt-right"></i>donation</a>
          <a href="#volunteers"><i class="fas fa-long-arrow-alt-right"></i>volunteers</a>
          <a href="#testimonials"><i class="fas fa-long-arrow-alt-right"></i>testimonials</a> 
<%
=end%>
        </div>
      </div>

      <div class="footer-item">
        <h2>office timings</h2>
        <span></span>
        <div class="timing">
          <p>Mon-Fri: 8:00 - 20:00</p>
          <p>Sat: 8:00 - 20:00 </p>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/sidyot?mibextid=eBUYbo"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/Imamilyas"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/@Imam-Ilyas-sidyot"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-item">
        <h2>contact info</h2>
        <span></span>
        <div class="info">
          <p><i class="phone fas fa-phone"></i><span>306.341.8888</span></p>
          <p><i class="phone fas fa-phone"></i><span>18774064626</span></p>
          <p><i class="envelope fas fa-envelope"></i><span class="gmail">imamsaskatoon@gmail.com</span></p>
          <%
=begin%>
 <p><i class="address fas fa-map"></i><span>karachi, pakistan</span></p> 
<%
=end%>
        </div>
       
      </div>

    </div>

    <div class="content">
      <p>© Copyright 2023 <span>Imam Sidyot</span>, All rights reserved.</p>
    </div>

  </footer>
  <!-- ==================== Footer Area (End) ==================== -->




    

  

  <!-- JQuery -->
 <%= javascript_include_tag 'jquery-3.6.0' %>
  <!-- SWIPER JS -->
  <%= javascript_include_tag 'swiper.js' %>
  <%= javascript_include_tag 'home-slider.js' %>
    <%= javascript_include_tag 'script.js' %>
        <%= javascript_include_tag 'scroll-spy.js' %>
  <!-- Animation -->
 <%= javascript_include_tag 'aos.js' %>


  <!-- ========== Custom Script ========== -->

  <!-- Contact-Form Script -->
  <script>
      jQuery('#contact-form').on('submit',function(e){
      jQuery('#contact-form #msg').html('');
      jQuery('#contact-form #submit').html('Please wait');
      jQuery('#contact-form #submit').attr('disabled',true);
      jQuery.ajax({
          url:'assets/php/submit.php',
          type:'post',
          data:jQuery('#contact-form').serialize(),
          success:function(result){
              jQuery('#contact-form #msg').html(result);
              jQuery('#contact-form #submit').html('Submit');
              jQuery('#contact-form #submit').attr('disabled',false);
              jQuery('#contact-form')[0].reset();
          }
      });
      e.preventDefault();
      });
  </script>

  <!-- INITIALIZING AOS -->
  <script>
    AOS.init({
        delay: 400,
        duration: 1000
    })
  </script>
</html>